<section data-ng-controller="HomeController">
	
	<style type="text/css">
		body {
			font-family: "helvetica";
			color : #333;
		}
		[ac-chart] {
			float:bottom;
			width: 48%;
			height: 400px;
			margin: 0 1%;
		}



	</style>
<select ng-model="chartType">
		<option value="pie">pie</option>
		<option value="bar">bar</option>
		<option value="line">line</option>
		<option value="point">point</option>
		<option value="area">area</option>
	</select>

	<span ng-show="chartType==='pie'">
		<label for="innerRadius">Radius:</label>
		<input ng-model="config1.innerRadius" type="number" id="innerRadius" />
	</span>

	<br />

	<div id="chart1" ac-chart="chartType" ac-data="data1" ac-config="config1"></div>

	<div id="chart2" ac-chart="chartType" ac-data="data2" ac-config="config2"></div>
	<style>
        .ac-tooltip {
            color: black;
            border: 2px solid rgba(200,200,0,0.8);
            background-color: rgba(200,200,0,0.5);
        }

        #chart1 .ac-legend-box {
            border-radius: 10px;
        }

    </style>
	<!-- <div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Open-Source Full-Stack Solution For MEAN Applications
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
			</p>
		</div>
	</div>
	<div>
		<h2>Congrats! You've configured and run the sample application.</h2>
		<p>MEAN.JS is a web application boilerplate, which means you should start changing everything :-)</p>
		<p>This sample application tracks users and articles.</p>
		<ul>
			<li>
				Click
				<em>Signup</em>
				to get started.
			</li>
			<li>
				Configure your app to work with your social accounts, by editing the
				<em>/config/env/*.js</em>
				files.
			</li>
			<li>
				Edit your users module.
			</li>
			<li>
				Add new CRUD modules.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>M</strong>ongoDB
			</h2>
			<p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a>, to get started with NoSQL and MongoDB.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>E</strong>xpress
			</h2>
			<p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>A</strong>ngularJS
			</h2>
			<p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's webiste</a> offers alot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>N</strong>ode.js
			</h2>
			<p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a>, are great resources.</p>
		</div>
	</div>
	<div class="well">
		<h2>MEAN.JS Documentation</h2>
		<p>
			Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
			<ul>
				<li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/generator.html">Yoeman Generator</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
				</li>
				<li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
				</li>
			</ul>
		</p>
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>The MEAN.JS Team. -->
</section>