<section data-ng-controller="EmployerLandingController">
  <header class="bg-primary header header-md navbar navbar-fixed-top-xs box-shadow">
    <div class="navbar-header aside-md dk">
      <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
        <i class="fa fa-bars"></i>
      </a>
      <a href="/" class="navbar-brand">
        <img src="/theme/images/logo.png" class="m-r-sm" alt="scale">
        <span class="hidden-nav-xs">recreal</span>
      </a>
      <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
        <i class="fa fa-cog"></i>
      </a>
    </div>

    <form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-search"></i></button>
          </span>
          <input type="text" class="form-control input-sm no-border" placeholder="Search jobs, companies...">            
        </div>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user">
      <li class="hidden-xs">
        <a href="/#!/signin">Login</a>
      </li>
      <li>
        <a href="" data-ng-click="openPostjobModal()">Post Job</a>
      </li>
      <li>
        <a href="/#!" class="btn btn-primary btn-small emp-button-header">Candidates</a>
      </li>
    </ul>      
  </header>

  <section class="header-banner">
    <section class="container">
      <div class="row text-center">
        <img class="img-responsive" src="/theme/images/python-opening.jpg">
      </div>
    </section>
  </section>


  <!-- Services -->
  <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
  <section id="services" class="services bg-primary">
      <div class="container">
          <div class="row text-center">
              <div class="col-lg-10 col-lg-offset-1">
                  <h2>Our Services</h2>
                  <hr class="small">
                  <div class="row">
                      <div class="col-md-3 col-sm-6">
                          <div class="service-item">
                              <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                          </span>
                              <h4>
                                  <strong>Service Name</strong>
                              </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              <a href="#" class="btn btn-light">Learn More</a>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6">
                          <div class="service-item">
                              <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-compass fa-stack-1x text-primary"></i>
                          </span>
                              <h4>
                                  <strong>Service Name</strong>
                              </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              <a href="#" class="btn btn-light">Learn More</a>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6">
                          <div class="service-item">
                              <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-flask fa-stack-1x text-primary"></i>
                          </span>
                              <h4>
                                  <strong>Service Name</strong>
                              </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              <a href="#" class="btn btn-light">Learn More</a>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6">
                          <div class="service-item">
                              <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-shield fa-stack-1x text-primary"></i>
                          </span>
                              <h4>
                                  <strong>Service Name</strong>
                              </h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              <a href="#" class="btn btn-light">Learn More</a>
                          </div>
                      </div>
                  </div>
                  <!-- /.row (nested) -->
              </div>
              <!-- /.col-lg-10 -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container -->
  </section>

      <!-- Callout -->
      <aside class="callout">
          <div class="text-vertical-center">
              <h1>Jobs that personally suit you</h1>
          </div>
      </aside>

  <section class="container">
    <section class="vbox">
      <section>
        <section class="hbox stretch">
          <!-- .aside -->
     
          <!-- /.aside -->
          <section id="content">
            <section class="hbox stretch">
              <section>
                <section class="vbox">
                  <section class="scrollable padder"> 
                      
                  </section>
                </section>
              </section>
              <!-- side content -->
              <aside class="aside-md bg-black hide" id="sidebar">
                <section class="vbox animated fadeInRight">
                  <section class="scrollable">
                    <div class="wrapper"><strong>Live feed</strong></div>
                    <ul class="list-group no-bg no-borders auto">
                      <li class="list-group-item">
                        <span class="fa-stack pull-left m-r-sm">
                          <i class="fa fa-circle fa-stack-2x text-success"></i>
                          <i class="fa fa-reply fa-stack-1x text-white"></i>
                        </span>
                        <span class="clear">
                          <a href="#">Goody@gmail.com</a> sent your email
                          <small class="icon-muted">13 minutes ago</small>
                        </span>
                      </li>
                      <li class="list-group-item">
                        <span class="fa-stack pull-left m-r-sm">
                          <i class="fa fa-circle fa-stack-2x text-danger"></i>
                          <i class="fa fa-file-o fa-stack-1x text-white"></i>
                        </span>
                        <span class="clear">
                          <a href="#">Mide@live.com</a> invite you to join a meeting
                          <small class="icon-muted">20 minutes ago</small>
                        </span>
                      </li>
                      <li class="list-group-item">
                        <span class="fa-stack pull-left m-r-sm">
                          <i class="fa fa-circle fa-stack-2x text-info"></i>
                          <i class="fa fa-map-marker fa-stack-1x text-white"></i>
                        </span>
                        <span class="clear">
                          <a href="#">Geoge@yahoo.com</a> is online
                          <small class="icon-muted">1 hour ago</small>
                        </span>
                      </li>
                      <li class="list-group-item">
                        <span class="fa-stack pull-left m-r-sm">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-info fa-stack-1x text-white"></i>
                        </span>
                        <span class="clear">
                          <a href="#"><strong>Admin</strong></a> post a info
                          <small class="icon-muted">1 day ago</small>
                        </span>
                      </li>
                    </ul>
                    <div class="wrapper"><strong>Friends</strong></div>
                    <ul class="list-group no-bg no-borders auto">
                      <li class="list-group-item">
                        <div class="media">
                          <span class="pull-left thumb-sm avatar">
                            <img src="/theme/images/a3.png" alt="..." class="img-circle">
                            <i class="on b-black bottom"></i>
                          </span>
                          <div class="media-body">
                            <div><a href="#">Chris Fox</a></div>
                            <small class="text-muted">about 2 minutes ago</small>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="media">
                          <span class="pull-left thumb-sm avatar">
                            <img src="/theme/images/a2.png" alt="...">
                            <i class="on b-black bottom"></i>
                          </span>
                          <div class="media-body">
                            <div><a href="#">Amanda Conlan</a></div>
                            <small class="text-muted">about 2 hours ago</small>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="media">
                          <span class="pull-left thumb-sm avatar">
                            <img src="/theme/images/a1.png" alt="...">
                            <i class="busy b-black bottom"></i>
                          </span>
                          <div class="media-body">
                            <div><a href="#">Dan Doorack</a></div>
                            <small class="text-muted">3 days ago</small>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="media">
                          <span class="pull-left thumb-sm avatar">
                            <img src="/theme/images/a0.png" alt="...">
                            <i class="away b-black bottom"></i>
                          </span>
                          <div class="media-body">
                            <div><a href="#">Lauren Taylor</a></div>
                            <small class="text-muted">about 2 minutes ago</small>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </section>
                </section>              
              </aside>
              <!-- / side content -->
            </section>
            <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
          </section>
        </section>
      </section>
    </section>
  </section>

  <!-- Footer -->
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-lg-10 col-lg-offset-1 text-center">
                      <h4><strong>recreal</strong>
                      </h4>
                      <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                      <ul class="list-unstyled">
                          <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">support@recreal.com</a>
                          </li>
                      </ul>
                      <br>
                      <ul class="list-inline">
                          <li>
                              <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                          </li>
                          <li>
                              <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                          </li>
                      </ul>
                      <hr class="small">
                      <p class="text-muted">Copyright &copy; recreal.com 2014</p>
                  </div>
              </div>
          </div>
      </footer>
</section>