<!-- <div class="navbar navbar-inverse" data-ng-show="authentication.user">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">recreal</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle">
                <i class="fa fa-comment-o"></i>
                <span class="badge badge-success">{{threads.length}}</span>
            </a>
            <div class="dropdown-menu panel panel-default">
                <div class="panel-heading" style="width: 250px">
                    You have {{threads.length}} messages.
                    <a href="" class="pull-right">Compose</a>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" data-ng-repeat="thread in threads" >
                        <a href="#!/threads/{{thread.id}}" class="media">
                            <span class="pull-left media-icon">
                                <span class="round-icon sm bg-info"><i class="fa fa-comment-o"></i></span>
                            </span>
                            <div class="media-body">
                                <span class="block">
                                <div><img alt=""class="img30_30" src="{{thread.sender.picture_url}}">{{thread.senderName}}</div></span>
                                <span class="text-muted">at {{thread.created | date}}</span>
                            </div>
                        </a>
                    </li>                     
                </ul>
                <div class="panel-footer">
                    <a href="/#!/threads">Show all messages.</a>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle">
                <i class="fa fa-bell-o nav-icon"></i>
                <span class="badge badge-warning">{{unreadnotificationslength}}</span>
            </a>
            <div class="dropdown-menu panel panel-default">
                <div class="panel-heading">
                    You have {{unreadnotificationslength}} notifications.
                </div>
                <ul class="list-group">
                    <li class="list-group-item" data-ng-repeat="notification in notifications">
                        <a href="#!{{notification.hiddendata}}" class="media" ng-click="notificationRead(notification)">
                            <span class="pull-left media-icon">
                                <span class="round-icon sm bg-success"><i class="fa fa-bell-o"></i></span>
                            </span>
                            <div class="media-body">
                                <span class="block">{{notification.generalmessage}}</span>
                                <span class="text-muted block">{{notification.created |date }}</span>
                            </div>
                        </a>
                    </li>
                                           
                </ul>
                <div class="panel-footer">
                    <a href="javascript:;">Show all notifications.</a>
                </div>
            </div>
        </li>
    </ul>
     <form data-ng-submit="submit()" class="navbar-form navbar-left">
 
  <input type="text" data-ng-model="texts" class="form-control col-lg-8" name="texts" placeholder="I am looking for..."/>
  <input type="submit" id="submit" value="Search" />
  
  
</form>
<form data-ng-submit="findMeAJob()" class="navbar-form navbar-left" data-ng-show="isCandidate()">
    <input type="submit" id="sumbit2" value="Find me a Job"/>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <img src="{{candidate.picture_url}}">
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle"><span data-ng-bind="authentication.user.displayName"><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/#!/settings/profile">Edit Profile</a></li>
            <li><a href="/#!/settings/accounts">Manage Social Accounts</a></li>
            
            <li data-ng-show="authentication.user.provider === 'local'"><a href="/#!/settings/password">Change Password</a></li>
            <li class="divider"></li>
            <li><a href="#/tasks">My Tasks</a></li>
            <li><a href="/auth/signout">Log Out</a></li>
          </ul>
        </li>
    </ul>
  </div>
</div> -->


<header class="bg-primary header header-md navbar navbar-fixed-top-xs box-shadow" data-ng-show="authentication.user">
  <div class="navbar-header aside-md dk">
    <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
      <i class="fa fa-bars"></i>
    </a>
    <a ui-sref="home" class="navbar-brand">
      <img src="/theme/images/logo.ico" class="m-r-sm" alt="scale">
      <span class="hidden-nav-xs">recreal</span>
    </a>
    <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
      <i class="fa fa-cog"></i>
    </a>
  </div>
  <ul class="nav navbar-nav hidden-xs">
    <li class="dropdown">
      <a href="/#!/company-open-jobs">
        <i class="i i-home"></i>
      </a>
     <!--  <section class="dropdown-menu aside-lg bg-white on animated fadeInLeft">
        <div class="row m-l-none m-r-none m-t m-b text-center">
          <div class="col-xs-4">
            <div class="padder-v">
              <a ui-sref="list-user-messages.inboxs({threadId:'main'})" >
                <span class="m-b-xs block">
                  <i class="i i-mail i-2x text-primary-lt"></i>
                </span>
                <small class="text-muted">Mailbox</small>
              </a>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="padder-v">
              <a href="#">
                <span class="m-b-xs block">
                  <i class="i i-calendar i-2x text-danger-lt"></i>
                </span>
                <small class="text-muted">Calendar</small>
              </a>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="padder-v">
              <a href="#">
                <span class="m-b-xs block">
                  <i class="i i-map i-2x text-success-lt"></i>
                </span>
                <small class="text-muted">Map</small>
              </a>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="padder-v">
              <a href="#">
                <span class="m-b-xs block">
                  <i class="i i-paperplane i-2x text-info-lt"></i>
                </span>
                <small class="text-muted">Training</small>
              </a>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="padder-v">
              <a href="#!/employer-favorites">
                <span class="m-b-xs block">
                  <i class="i i-star i-2x text-muted"></i>
                </span>
                <small class="text-muted">Favorites</small>
              </a>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="padder-v">
              <a href="#">
                <span class="m-b-xs block">
                  <i class="i i-clock i-2x text-warning-lter"></i>
                </span>
                <small class="text-muted">Timeline</small>
              </a>
            </div>
          </div>
        </div>
      </section> -->
    </li>
  </ul>
  <trigger-job-list></trigger-job-list>
  <form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search" data-ng-submit="submit()">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-search"></i></button>
        </span>
        <input type="text" data-ng-model="texts" class="form-control input-sm no-border" placeholder="Search apps, projects...">            
      </div>
    </div>
  </form>




<!--  <form data-ng-submit="submit()" class="navbar-form navbar-left">
 
  <input type="text" data-ng-model="texts" class="form-control col-lg-8" name="texts" placeholder="I am looking for..."/>
  <input type="submit" id="submit" value="Search" />
  
  
</form> -->
<form data-ng-submit="findMeAJob()" class="navbar-form navbar-left" data-ng-show="isCandidate()">
  <input type="submit" id="sumbit2" value="Find me a Job"/>
</form>

<a data-ng-show="authentication.user.userType == 'employer'" href="#!/employer-favorites">Favorites</a>






    
  <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user">
    <li class="hidden-xs dropdown" class="dropdown-toggle" data-toggle="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown">
       <i class="i i-mail i-2x text-primary-lt"></i>
        <span class="badge badge-sm up bg-danger">{{threads.length}}</span>
       </a>
       <section class="dropdown-menu aside-xl animated flipInY">
          <section class="panel bg-white">
             <div class="panel-heading b-light bg-light">
            <strong>You have <span> {{threads.length}} </span> messages</strong>
          </div>
          <div class="list-group-alt">
            <li class="list-group-item" data-ng-repeat="thread in threads">
                <a ui-sref="list-user-messages.inboxs({threadId:thread.id})" class="media list-group-item">
                            <span class="pull-left media-icon">
                                <span class="round-icon sm bg-success"><i class="fa fa-bell-o"></i></span>
                            </span>
                            <div class="media-body">
                                <span class="block">
                                <div><img alt=""class="img30_30" src="{{thread.sender.picture_url}}">{{thread.senderName}}</div></span>
                                <span class="text-muted">at {{thread.created | date}}</span>
                            </div>
                        </a>
            </li>
          </div>
          <div class="panel-footer text-sm"> <a  class="pull-right"><i class="fa fa-cog"></i></a> <a ui-sref="list-user-messages.inboxs({threadId:'main'})" data-toggle="class:show animated fadeInRight">See all the messages</a> </div>
          </section>
        </section>
    </li>
    <li class="hidden-xs dropdown" class="dropdown-toggle" data-toggle="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="i i-paperplane i-2x"></i>
        <span class="badge badge-sm up bg-danger">{{unreadnotificationslength}}</span>
      </a>
      <section class="dropdown-menu aside-xl animated flipInY">
        <section class="panel bg-white">
          <div class="panel-heading b-light bg-light">
            <strong>You have <span>{{unreadnotificationslength}}</span> notifications</strong>
          </div>
          <div class="list-group-alt">
            <li class="list-group-item" data-ng-repeat="notification in notifications">
                <a href="#!{{notification.hiddendata}}" class="media list-group-item" ng-click="notificationRead(notification)">
                    <span class="pull-left media-icon">
                        <span class="round-icon sm bg-success"><i class="fa fa-bell-o"></i></span>
                    </span>
                    <div data-ng-hide="notification.isRead" class="media-body" style="background-color: #ddd;">
                        <span class="block">{{notification.generalmessage}}</span>
                        <span class="text-muted block">{{notification.created | date }}</span>
                    </div>
                    <div data-ng-show="notification.isRead" class="media-body">
                        <span class="block">{{notification.generalmessage}}</span>
                        <span class="text-muted block">{{notification.created | date }}</span>
                    </div>
                </a>
            </li>
      <!--       <a href="#" class="media list-group-item">
              <span class="pull-left thumb-sm">
                <img src="/theme/images/a0.png" alt="..." class="img-circle">
              </span>
              <span class="media-body block m-b-none">
                Use awesome animate.css<br>
                <small class="text-muted">10 minutes ago</small>
              </span>
            </a>
            <a href="#" class="media list-group-item">
              <span class="media-body block m-b-none">
                1.0 initial released<br>
                <small class="text-muted">1 hour ago</small>
              </span>
            </a> -->
          </div>
          <div class="panel-footer text-sm">
            <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
            <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>
          </div>
        </section>
      </section>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="thumb-sm avatar pull-left">
          <img src="{{authentication.user.picture_url}}" alt="...">
        </span>
        {{authentication.user.displayName}} <b class="caret"></b>
      </a>
      <ul class="dropdown-menu animated fadeInRight" data-ng-show="!isCandidate()">            
        <li>
          <span class="arrow top"></span>
          <a href="/#!/employer-profile-view">Profile</a>
        </li>
        <li>
          <a href="/#!/company-profile-view">Company</a>
        </li>
        <li>
           <a href="">Settings</a>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="docs.html">Features</a>
        </li>
        <li>
          <a href="" >Collaborators</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/auth/signout" >Logout</a>
        </li>
      </ul>

       <ul class="dropdown-menu animated fadeInRight" data-ng-show="isCandidate()">            
        <li>
          <span class="arrow top"></span>
          <a href="#">Setting</a>
        </li>
        <li >
          <a href="/#!/candidate-cv">Profile</a>
        </li>
        <li>
          <a href="#">
            <span class="badge bg-danger pull-right">3</span>
            Notifications
          </a>
        </li>
        <li>
          <a href="docs.html">Help</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/auth/signout" >Logout</a>
        </li>
      </ul>
    </li>
  </ul>      
</header>
