<div class="container">
  <section class="container custom-wrapper">
    <section class="hbox">
      
      <div class="row">
        <div class="col-md-6">
          <h1>email</h1>
          <p>Dear Ibad,
     
            As discussed on the phone today, kindly resolve the issue at hand, giving priority to
            -          Change of designation ( the record if updated with the latest posting, then doesn’t show the individual in any report)

            -          Leave & Posting order update ( if any of the two are done then the system shows an error which has already been provided to you)

            Kindly resolve the above and the other related issues as per your discussion with our officers.
             
            Looking for a prompt response.
             
             
            Regards,
            Waqas K Malik
            DD  (MIS-II)
            NHA,HQ.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h1>email</h1>
          <p>Dear Ibad,
     
            As discussed on the phone today, kindly resolve the issue at hand, giving priority to
            -          Change of designation ( the record if updated with the latest posting, then doesn’t show the individual in any report)

            -          Leave & Posting order update ( if any of the two are done then the system shows an error which has already been provided to you)

            Kindly resolve the above and the other related issues as per your discussion with our officers.
             
            Looking for a prompt response.
             
             
            Regards,
            Waqas K Malik
            DD  (MIS-II)
            NHA,HQ.</p>
        </div>
      </div>
    </section>
  </section>    
</div>