.content {
	margin-top: 0px;
}

body{
  color: #26292A;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.time-cards-box { float: left; width: 230px; margin: 19px 26px 0 0px; }
.main-card-bg { background: #fff; box-shadow: 0 0 5px rgba(0,0,0,.1); }
.yellow-bg { background: #f4b400; }
.green-bg { background: #00a813; }
.blue-bg { background: #087ac2; }
.red-bg { background: #db4437; }
.grey-bg { background: #d3d8dc; }
.blue-lt-bg { background: #46b7ff; }
.blue-bg { background-color: #95bddc; }
.blue2-bg { background-color: #0c89d8; }
.blue3-bg { background-color: #46b7ff; }
.main-card-upper h3 { padding: 0; margin: 0; font-size: 18px; font-weight: 500; color: #fff; }
.main-card-upper p { font-size: 14px; color: rgba(255,255,255,1); padding: 7px 0 0 0; }
.main-card-upper .time-cont { max-width: 160px; background: #fff; color: #333333; font-size: 16px; font-weight: 500; text-align: center; line-height: 38px; margin: 17px auto 8px auto; text-transform: uppercase; }
.main-card-upper { padding: 15px 17px 0 13px; min-height: 161px; position: relative; }
.call-detail { text-align: center; color: #fff; font-size: 12px; line-height: 14px; padding: 0 30px; letter-spacing: -.6px; }
.required-css
{
    color: red;
}

img.img30_30 {
  width: 30px;
  height: 30px;
}
img.img50_50{
  width: 50px;
  height: 50px;
}
img.img64_64 {
  width: 64px;
  height: 64px;
}
img.img80_80 {
  width: 80px;
  height: 80px;
}

img.img100_100 {
  width: 100px;
  position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}


img.img150_150 {
  width: 150px;
  position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}
img.img180_180 {
  max-width: 180px;
  max-height: 130px;
}

img.imgCompany
{
  max-width: 180px;
  max-height: 60px;
}

.container.custom-wrapper {
    padding: 0px;
    -webkit-box-shadow: 0 3px 60px rgba(0,0,0,0.3);
    box-shadow: 0 3px 60px rgba(0,0,0,0.3);
    border-left: 1px solid #cbd5dd;
    border-right: 1px solid #cbd5dd;
    background-color: #fff;
  }
.left-aside-top-margin
{
  margin-top: 150px;
}

.hr-margin15
{
  margin-top: 15px;
  margin-bottom: 15px;
}

.header-message
{
  margin-bottom: 20px;
  font-size: 14px;
  font-style: italic;
  margin-left: 2%;
}

.section-left-margin
{
  margin-left: 2%;
}
