
<section data-ng-controller="JobsController" data-ng-init="findOne()">
	<article class="col-md-8">
		<header>
			<section class="row">
	                <div class="col-md-3">
	                    <img alt="" max-width:150px; max-height:150px; src="https://media.licdn.com/media/p/8/000/2a8/0b9/35aede1.png">
	                </div>    
	                <div class="col-md-9">
	                	<h2>{{job.title}}</h2>
	                	<a href="/#!/companies/{{job.company.company_name}}">at <strong>{{job.company.company_name}}</strong></a>
	                	<h5>Post 5 days ago</h5>
	                	 <strong><a class="btn btn-sm btn-success pull-right" ng-hide=" authentication.user.userType==='employer' || isApplied" ng-click="apply(job)">Apply Now</a></strong>
					</div>
		    </section>
		    <section>
		    	<table>
		    	<tr>
		    		<td>
		    			<strong>Industry:</strong> 
		    		</td>
		    		<td>
		    			{{job.industry}}
		    		</td>
		    		<td>
		    			<strong>Location:</strong> 
		    		</td>
		    		<td>
		    			{{job.location}}
		    		</td>
		    	</tr>
		    	<tr>
		    		<td>
		    			<strong>Career Level:</strong> 
		    		</td>
		    		<td>
		    			{{job.career_level}}
		    		</td>
		    		<td>
		    			<strong>Country:</strong> 
		    		</td>
		    		<td>
		    			{{job.country}}
		    		</td>
		    	</tr>
		    	<tr>
		    		<td>
		    			<strong>Shift:</strong> 
		    		</td>
		    		<td>
		    			{{job.shift}}
		    		</td>
		    		<td>
		    			<strong>Dergee:</strong> 
		    		</td>
		    		<td>
		    			{{job.degree_title}}
		    		</td>
		    	</tr>
		    	<tr>
		    		<td>
		    			<strong>Employement Type:</strong> 
		    		</td>
		    		<td>
		    			{{job.employee_type}}
		    		</td>
		    		<td>
		    			<strong>Study Feild:</strong>
		    		</td>
		    		<td>
		    			{{job.study_field}}
		    		</td>
		    	</tr>
		    	</table>
		    </section>
		</header>
		<section>
			<h3>Description:</h3>
			<div ng-bind-html="job.description"></div>
	    </section> 
	    <hr>
	    <section>
			<h3>Requirement:</h3>
			<div ng-bind-html="job.requirement"></div>
	    </section> 
	    <hr>
	    <section>
			<h3>Required Skills</h3>
			<ul>
            <li ng-repeat="skill in job.skills">
                {{skill.title}} - <strong>{{skill.level}}</strong>
            </li>
        </ul>
	    </section> 
	</article>
    <aside class="col-md-4">
        <header> <h2>Title</h2></header>
        <article class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </article>
    </aside>
</section>