
<section data-ng-controller="JobsController" data-ng-init="findOne()" class="container">
	<article class="col-md-8">
		<header>
			<section class="row">
	                <div class="col-md-3" style="height: 150px">
                        <img alt="" class="img100_100" src="http://1.bp.blogspot.com/-PDyJ4V86jJc/UegSwGYXY2I/AAAAAAAABjM/adUNk71ddes/s1600/954862_10151698062655336_1754121665_n.jpg">
                    </div>   
	                <div class="col-md-9">
	                	<h2>{{job.title}}</h2>
	                	<h5>Viewed : {{job.views.length}}</h5>
	                	<a href="/#!/companies/{{job.company._id}}" data-ng-show="job.user"><h4>at {{job.company.company_name}}</h4></a>
	                	<a href="/#!/companies/{{job.company._id}}" data-ng-hide="job.user"><h4>at {{job.company}}</h4></a>
	                	<span><h6 class="col-md-9">Posted 5 days ago</h6>
	                	 <strong class="col-md-3"><a class=" btn btn-sm btn-success pull-right" ng-hide=" authentication.user.userType==='employer' || isApplied" ng-click="apply(job)">Apply Now</a></strong></span>
					</div>
		    </section>
		    <p></p>
		    <section class="responsive">
		    	<!-- this table is used for jobs posted through recreal-->
		    	<table data-ng-show="job.user" class="table">
		    	<tr>
		    		<td>
		    			<strong>Industry:</strong> 
		    		</td>
		    		<td>
		    			{{job.industry}}
		    		</td>
		    		<td>
		    			<strong>Location:</strong> 
		    		</td>
		    		<td>
		    			{{job.location}}
		    		</td>
		    	</tr>
		    	<tr>
		    		<td>
		    			<strong>Career Level:</strong> 
		    		</td>
		    		<td>
		    			{{job.career_level}}
		    		</td>
		    		<td>
		    			<strong>Country:</strong> 
		    		</td>
		    		<td>
		    			{{job.country}}
		    		</td>
		    	</tr>
		    	<tr>
		    		<td>
		    			<strong>Shift:</strong> 
		    		</td>
		    		<td>
		    			{{job.shift}}
		    		</td>
		    		<td>
		    			<strong>Degree:</strong> 
		    		</td>
		    		<td>
		    			{{job.degree_title}}
		    		</td>
		    	</tr>
		    	<tr>
		    		<td>
		    			<strong>Employement Type:</strong> 
		    		</td>
		    		<td>
		    			{{job.employee_type}}
		    		</td>
		    		
		    		<td>
		    			<strong>Degree Title:</strong>
		    		</td>
		    		<td>
		    			{{job.study_field}}
		    		</td>
		    	</tr>
		    	<tr><td></td><td></td><td></td><td></td></tr>
		    	</table>
		    </section>
		</header>
		<section>
			<h3>Description:</h3>
			<div ng-bind-html="job.description"></div>
	    </section> 
	    <hr>
	    <section>
			<h3>Requirement:</h3>
			<div ng-bind-html="job.requirement"></div>
	    </section> 
	    <hr>
	    <section>
			<h3>Required Skills</h3>
			<ul>
            <li ng-repeat="skill in job.skills">
                {{skill.title}} - <strong>{{skill.level}}</strong>
            </li>
        </ul>
	    </section> 
	</article>
    <aside class="col-md-4">
       <header><h3>Company Other Jobs</h3></header><hr>
       <div class="media">
	   		<a class="pull-left" href="#">
	        <img style="max-height: 30px; max-width: 30px;"class="media-object" src="http://1.bp.blogspot.com/-PDyJ4V86jJc/UegSwGYXY2I/AAAAAAAABjM/adUNk71ddes/s1600/954862_10151698062655336_1754121665_n.jpg" alt="Media Object"></a>
	   <div class="media-body">
	      <h5 class="media-heading">Finance Manager</h5>
	      This is some sample text. This is some sample text. 
	      This is some sample text. This is some sample text.
	   </div>
	   <div class="media">
	   		<a class="pull-left" href="#">
	        <img style="max-height: 30px; max-width: 30px;"class="media-object" src="http://1.bp.blogspot.com/-PDyJ4V86jJc/UegSwGYXY2I/AAAAAAAABjM/adUNk71ddes/s1600/954862_10151698062655336_1754121665_n.jpg" alt="Media Object"></a>
	   <div class="media-body">
	      <h5 class="media-heading">Accounts Director</h5>
	      This is some sample text. This is some sample text. 
	      This is some sample text. This is some sample text.
	   </div>
	   <div class="media">
	   		<a class="pull-left" href="#">
	        <img style="max-height: 30px; max-width: 30px;"class="media-object" src="http://1.bp.blogspot.com/-PDyJ4V86jJc/UegSwGYXY2I/AAAAAAAABjM/adUNk71ddes/s1600/954862_10151698062655336_1754121665_n.jpg" alt="Media Object"></a>
	   <div class="media-body">
	      <h5 class="media-heading">Media Manager</h5>
	      This is some sample text. This is some sample text. 
	      This is some sample text. This is some sample text.
	   </div>
	   </div><hr>

	   <header><h3>Other Similar Jobs</h3></header><hr>
       <div class="media">
	   		<a class="pull-left" href="#">
	        <img style="max-height: 30px; max-width: 30px;"class="media-object" src="http://1.bp.blogspot.com/-PDyJ4V86jJc/UegSwGYXY2I/AAAAAAAABjM/adUNk71ddes/s1600/954862_10151698062655336_1754121665_n.jpg" alt="Media Object"></a>
	   <div class="media-body">
	      <h5 class="media-heading">Software Manager</h5>
	      This is some sample text. This is some sample text. 
	      This is some sample text. This is some sample text.
	   </div>
	   <div class="media">
	   		<a class="pull-left" href="#">
	        <img style="max-height: 30px; max-width: 30px;"class="media-object" src="http://1.bp.blogspot.com/-PDyJ4V86jJc/UegSwGYXY2I/AAAAAAAABjM/adUNk71ddes/s1600/954862_10151698062655336_1754121665_n.jpg" alt="Media Object"></a>
	   <div class="media-body">
	      <h5 class="media-heading">Junior .Net Developer</h5>
	      This is some sample text. This is some sample text. 
	      This is some sample text. This is some sample text.
	   </div>
	   <div class="media">
	   		<a class="pull-left" href="#">
	        <img style="max-height: 30px; max-width: 30px;"class="media-object" src="http://1.bp.blogspot.com/-PDyJ4V86jJc/UegSwGYXY2I/AAAAAAAABjM/adUNk71ddes/s1600/954862_10151698062655336_1754121665_n.jpg" alt="Media Object"></a>
	   <div class="media-body">
	      <h5 class="media-heading">Web Developer</h5>
	      This is some sample text. This is some sample text. 
	      This is some sample text. This is some sample text.
	   </div>
	   </div>
    </aside>
</section>