<div class="form-group" style="text-align: center" data-ng-init="find()">
  


<section class="col-md-12">
	<section class="col-md-3">
		
		<button class="btn btn-lg btn-success">Create Test</button>
		<div><h4>All</h4></div>
		<div><h4>IT (25)</h4></div>
		<div><h4>Sales (55)</h4></div>
		<div><h4>Window</h4></div>
		<div><h4>HR</h4></div>
		<div><h4>Marketing (102)</h4></div>
		<div><h4>Finance</h4></div>
		<div><h4>IQ</h4></div>
		<div><h4>Accounts</h4></div>
		<div><h4>Engineering</h4></div>
		<button class="btn btn-lg btn-success" data-ng-click="sendTest()">Send</button>
	</section>
	
	<section class="col-md-9">
		<section class="col-md-12">
			<section class="col-md-2">
				<label>Search</label>
			</section>
			<section class="col-md-8">
				<input class="form-control" type="text" data-ng-model="searchString" />
			</section>
		</section>	
		
		<section  class="col-md-12">
			<div class="col-md-2">
				<h5>Title</h5>
			</div>
			<div class="col-md-2">
				<h5>Category</h5>
			</div>
			<div class="col-md-3">
				<h5>No of Attempts</h5>

			</div>
			<div class="col-md-3">
				<h5>Passed Candidates</h5>
			</div>
			<div class="col-md-2">
				<h5>Average Score</h5>
			</div>
		</section>
		<section -ng-repeat = "test in tests | filter:searchString" data class="col-md-12">
		 
			<div class="col-md-2">
				<input type="checkbox" class="form-control" ng-model="test.selected"></input>
			</div>
			<div class="col-md-2">
				<h5>{{test.title}}</h5>
			</div>
			<div class="col-md-2">
				<h5>test.category</h5>
			</div>
			<div class="col-md-3">
				<h5>test.NoOfAttempts</h5>

			</div>
			<div class="col-md-3">
				<h5>test.PassedCandidates</h5>
			</div>
			<div class="col-md-2">
				<h5>test.AveragScore</h5>
			</div>
		</section>
		

	</section>
</section>	           
</div>
