<section data-ng-controller="ShortlistedCandidatesController">
    <article class="row ">
        <section class="logo text-center col-md-8" >
            <h2> {{job.title}}</h2>
        </section>  
       
        <article class="col-md-4">
            <label class="col-md-3 center" for="searchBox">Search</label>
            <section class="col-md-8">
                <input id="searchBox" form-control type="text" data-ng-model="searchTex"/>
            </section>     
        </article>
    </article>

    <section class="container">
        <section class="col-md-4">
            <h4>Employer features 1</h4>
            <h5>Employer features 2</h5>
            <h5>Employer features 3</h5>
            <h5>Employer features 4</h5>
        </section>


<section class="col-md-8"> 
    <section ng-repeat="shortlist in shortListedObjects">
            <section class="col-md-4" style="padding-top:20px;">
                    <a data-ng-href="#!/candidates/{{shortlist.candidate}}">
                        <img width="150" src="{{shortlist.candidate}}">
                    </a>
            </section>
    <section class="col-md-8" style="padding-top:20px;">
            <h1>{{shortlist.candidate.displayName}}</h1>
             <h4>{{shortlist.candidate.title}}</h4>
                <p style="color:rgb(83, 82, 82)">{{shortlist.candidate.objective}}</p>
                <div style="line-height: 2">
                    <span  class="skill-div" data-ng-repeat="skill in candidate.skills">{{shortlist.skill.title}}</span>
                </div>
            

            <h6 style="padding-top:15px">Rating : 5  &nbsp;&nbsp;|&nbsp;&nbsp;  Location : {{shortlist.candidate.location}}  &nbsp;&nbsp;|&nbsp;&nbsp;  Salary Range : {{shortlist.candidate.salary_expectation}}  &nbsp;&nbsp;|&nbsp;&nbsp;Visa : {{shortlist.candidate.visa_status}}  &nbsp;&nbsp;|&nbsp;&nbsp; Employee Type : {{shortlist.candidate.employee_type}}  &nbsp;&nbsp;|&nbsp;&nbsp; Employee Status : {{shortlist.candidate.employee_status}}  &nbsp;&nbsp;|&nbsp;&nbsp; 1 Test</h6>
            <button class="btn btn-sm btn-success pull-right" ng-click="removeCandidateFromShortList(shortlist.candidate)">Remove From Favorites</button><br>
            </section>
        </section>
