<section data-ng-controller="EmpWizardOneController"  data-ng-init="LoadInitialData()">
	<!-- <button ng-click="pop()">Show a Toaster</button> -->
	<section class="row">
    <section class="container custom-wrapper">
      <section class="hbox">
        <!-- .aside -->
        <aside class="bg-light lt b-r b-light aside-md hidden-print" id="nav">          
          <section class="vbox">
            <section class="w-f scrollable">
              <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">
                <div class="clearfix wrapper dk nav-user hidden-xs">
                </div>                
                <!-- nav -->                 
                <nav class="nav-primary hidden-xs">
                  <ul class="nav nav-main" data-ride="collapse">
                    <li class="nav-search">
                        <span>
                          <input id="searchBox" class="form-control" type="text" data-ng-model="searchText" placeholder="Search Jobs, Candidates" />
                        </span>
                    </li>
                    <li  class="active">
                      <a href="index.html" class="auto">
                        <i class="i i-statistics icon">
                        </i>
                        <span class="font-bold">Overview</span>
                      </a>
                    </li>
                    <li >
                      <a href="" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <b class="badge bg-danger pull-right">4</b>
                        <i class="i i-stack icon">
                        </i>
                        <span class="font-bold">Active Jobs</span>
                      </a>
                    </li>
                    <li >
                      <a href="" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <b class="badge bg-danger pull-right">1</b>
                        <i class="i i-stack icon">
                        </i>
                        <span class="font-bold">Draft Jobs</span>
                      </a>
                      
                    </li>
                    <li >
                      <a href="" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <b class="badge bg-danger pull-right">32</b>
                        <i class="i i-stack icon">
                        </i>
                        <span class="font-bold">Expired Jobs</span>
                      </a>
                    </li>
                  </ul>
                  <div class="line dk hidden-nav-xs"></div>
                  <div class="text-muted text-xs hidden-nav-xs padder m-t-sm m-b-sm">Lables</div>
                  <ul class="nav">
                    <li>
                      <a href="mail.html#work">
                        <i class="i i-circle-sm text-info-dk"></i>
                        <span>3 Jobs Posted by Jhon</span>
                      </a>
                    </li>
                    <li>
                      <a href="mail.html#social">
                        <i class="i i-circle-sm text-success-dk"></i>
                        <span>6 Jobs Posted by David</span>
                      </a>
                    </li>
                    <li>
                      <a href="mail.html#projects">
                        <i class="i i-circle-sm text-danger-dk"></i>
                        <span>1 Job posted by Nathan</span>
                      </a>
                    </li>
                  </ul>
                  <div class="text-muted text-xs hidden-nav-xs padder m-t-sm m-b-sm">Circles</div>
                  <ul class="nav">
                    <li>
                      <a href="#!">
                        <i class="i i-circle-sm-o text-success-lt"></i>
                        <span>College</span>
                      </a>
                    </li>
                    <li>
                      <a href="#!">
                        <i class="i i-circle-sm-o text-warning"></i>
                        <span>Social</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- / nav -->
              </div>
            </section>
            
            <footer class="footer hidden-xs no-padder text-center-nav-xs">
              <a href="modal.lockme.html" data-toggle="ajaxModal" class="btn btn-icon icon-muted btn-inactive pull-right m-l-xs m-r-xs hidden-nav-xs">
                <i class="i i-logout"></i>
              </a>
              <a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs">
                <i class="i i-circleleft text"></i>
                <i class="i i-circleright text-active"></i>
              </a>
            </footer>
          </section>
        </aside>
        <!-- /.aside -->

        <section id="content" class="scrollable padder">
            <section>
	                <article>
	                	<h3>About You</h3><hr/>
	                	<label>A few additional details about you will help your colleagues to know you</label>
	                	
                		<section class="row">
                      <section class="col-md-3">
                        <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/6/005/089/3a9/1024247.jpg" width="140px" height="140px">
                      </section>
                      <section class="col-md-4">
                         <div class="form-group">
                          <label>First Name</label>
                          <input type="email" class="form-control" data-ng-model="user.firstName" placeholder="John">
                        </div>
                        <div class="form-group">
                          <label>Email Address</label>
                          <input type="email" class="form-control" data-ng-model="user.email"  placeholder="Carter">
                        </div>
                      </section>
                      <section class="col-md-4">
                        <div class="form-group">
                          <label>Last Name</label>
                          <input type="email" class="form-control" data-ng-model="user.lastName" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                          <label>Role</label>
                          <span class="ui-select">
                            <select data-ng-model="employer.role" class="form-control">
                              <option>Admin</option>
                              <option>Viewer</option>
                              <option>Restricted</option>
                            </select>
                          </span>
                        </div>
                      </section>
                    </section>
	                </article><hr/>
                  <article>
                    <header>
                      <h3>About Your Company</h3><hr/>
                      <label>A few additional details about your Comapany will help candidates to know about you</label>
                    </header>
                    <section class="row">
                      <section class="col-md-3">
                        <img src="https://media.licdn.com/media/p/1/000/2bc/329/09e8946.png" width="80px" height="50px">
                      </section>
                      <section class="col-md-8">
                          <div class="form-group">
                            <label>Company Name</label>
                            <input type="text" class="form-control" data-ng-model="company.company_name" placeholder="General Network Solutions,Ltd">
                          </div>
                      </section>
                    </section>
                    <section class="row">
                      <section class="col-md-3">
                        
                      </section>
                        <section class="col-md-4">
                         <div class="form-group">
                          <label>Industry</label>
                          <span class="ui-select">
                            <select class="form-control" data-ng-model="company.industry">
                              <option data-ng-repeat="ind in industries">{{ind.name}}</option>
                            </select>
                          </span>
                        </div>
                        <div class="form-group">
                          <label>Company Type</label>
                          <span class="ui-select">
                            <select class="form-control" data-ng-model="company.company_type">
                              <option>Sole Proprietorship</option>
                              <option>Public</option>
                              <option>Private</option>
                              <option>NGO</option>
                            </select>
                          </span>
                        </div>
                        <div class="form-group">
                          <label>Country</label>
                          <span class="ui-select">
                            <select data-ng-model="company.country" ng-options="count.name for count in countries" data-ng-change="getCountryCities()" required class="form-control">
                            </select>
                          </span>
                        </div>
                      </section>
                      <section class="col-md-4">
                        <div class="form-group">
                          <label>Website</label>
                          <input type="text" data-ng-model="company.website" class="form-control" placeholder="www.apple.com">
                        </div>
                        <div class="form-group">
                          <label>No of Employees</label>
                          <span class="ui-select">
                            <select class="form-control" data-ng-model="company.company_size">
                              <option>1 - 10</option>
                              <option>11 - 50</option>
                              <option>51 - 100</option>
                              <option>101 - 500</option>
                              <option>501 - 1000</option>
                              <option>1001 - 5000</option>
                              <option>5001 - 10000</option>
                            </select>
                          </span>
                        </div>
                        <div class="form-group">
                          <label>City</label>
                          <span class="ui-select">
                            <select ng-model="company.city" ng-options="sity.name for sity in cities" required class="form-control">
                            </select>
                          </span>
                        </div>
                      </section>
                    </section>
                    <section>
                      <div class="row form-group">
                        <div class="col-md-3">
                            <label for="">Description</label>
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control" required data-ng-model="company.description" rows="6" cols="5" />
                        </div>
                      </div>
                    </section>
                    <section>
                      <div class="row form-group">
                        <div class="col-md-3">
                            <label for="">Specialities</label>
                        </div>
                        <div class="col-md-4">
                          <section class="listThingy" class="row" ng-repeat="speciality in company.specialities">
                            <div class="input-group">
                              <input disabled type="text" placeholder="e.g Software" data-ng-model="speciality.name" class="form-control">
                              <span class="input-group-btn">
                                <button type="button" ng-click="removeSpeciality($index)" class="btn btn-default"><i class="fa fa-times"></i></button>
                              </span>
                            </div>
                          </section>
                          <form class="addThingy" data-ng-submit="addSpeciality()" ng-show="isAddingSpeciality">
                              <input type="text"  type="submit" placeholder="Add a speciality" data-ng-model="newSpeciality.name" class="form-control">
                              <button class="btn btn-default btn-sm" ng-click="addSpeciality()">Add</button>
                              <a href="" ng-click="isAddingSpeciality = false">Done Adding</a>
                          </form>
                          <p><a href="" ng-click="isAddingSpeciality = true">+ Add Speciality</a></p>
                        </div>
                      </div>
                    </section>
                    <footer>
                      <section class="col-md-2 pull-right">
                        <button type="submit" class="btn btn-primary btn-block btn-lg" ng-click="SaveAndRedirect()">Next</button>  
                      </section>
                    </footer>
                  </article>
                  <!-- <section class="pull-right"><a href="#!/emp-wizard-two">Next</a></section> -->
                                           
                <section data-ng-show="error" class="text-danger"><strong data-ng-bind="error"></strong>
                </section>
            </section>
          <a href="#!" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
        </section>
      </section>
    </section>
  </section>
</section>