<div class="md-modal md-effect-2" id="modal-2" data-ng-init="initFunction();">
  <label for="">Schedule Date</label>

                                        <datetimepicker data-ng-model="data.embeddedDate"
    data-datetimepicker-config="{ startView:'day', minView:'hour' }" data-on-set-time="onTimeSet(newDate, oldDate)" />
                                        <!-- <input name="" type="text" placeholder="Select Timeslot"> -->
                                        <div class="clear"></div>
                                        <div class="clear"></div>
                                    
<button class="btn btn-default btn-sm" ng-click="Later()">Later</button>
</div>