
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Compose</h4>
  </div>
  <div class="modal-body">
    <label>To:</label>
    <input class="form-control" type="text" dta-ng-model="message.candidate.displayName" />
    <label>Message:</label>
    <textarea class="form-control" data-ng-model="message.body"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary">Send</button>
  </div>
</div><!-- /.modal-content -->

