.addThingy{
margin-top: 15px;
padding: 10px;
background: #fafafa;
border: 1px solid #e7e7e7;
border-radius: 5px;
-webkit-border-radius: 5px;
}
.addThingy button{
	margin: 10px;
}
.listThingy {
	margin: 3px;
}

.company-image
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
}

.profile-image
{
	display: block;
  width: 130px;
  height: 130px;
  margin: auto;
  margin-top:2%; 

  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}

.signUp-Header
{
  margin-left: 50px;
}
.footer-button-div
{
  margin-top: 30px;
  margin-bottom: 10px;
  height: 100px;
}

.activation-header
{
  margin-left: 10%;
  margin-top: 5%;
}

.activation-section
{
  margin-left: 11%;
  margin-right: 11%;
}