.addThingy{
margin-top: 15px;
padding: 10px;
background: #fafafa;
border: 1px solid #e7e7e7;
border-radius: 5px;
-webkit-border-radius: 5px;
}
.addThingy button{
	margin: 10px;
}
.listThingy {
	margin: 3px;
}