<section data-ng-controller="TakeExamController" data-ng-init="findOne()" class="container">
	<div class="page-header">
		<h1 data-ng-bind="exam.title"></h1>
	</div>

	<div class="panel panel-primary">
		<div class="panel panel-header">
			<h3>Question # {{questionIndex + 1}}/{{exam.questions.length}}</h3>
			<!-- <timer interval="1000" countdown="100">{{countdown}}</timer>
			<timer autostart="false" countdown="90061">{{days}} day{{daysS}}, {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer> -->
			

			<timer countdown="3" max-time-unit="'minute'" interval="1000">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer>
			
		</div>
			
		<div class="panel panel-body">
			<h4>{{currentQuestion.body}}</h4>
			<div data-ng-repeat="answer in currentQuestion.answers">
				<label class="ui-radio">
	            <input  name="answer" 
	                    type="radio" 
	                    value="{{answer.body}}"
	                    data-ng-model="currentQuestion.selectedAnswer"
	                    />
	                    <span>{{answer.body}}</span>
	            </label>
	        </div>
	        <div class="col-md-3 col-md-offset-3">
		        <button class="btn btn-warning btn col-md-offset-2" ng-disabled="questionIndex == 0" data-ng-click="prevQuestion()">Prev</button>
				<button class="btn btn-success btn" ng-disabled="questionIndex == exam.questions.length-1"  data-ng-click="nextQuestion()">Next</button>
				<button class="btn btn-success btn" data-ng-click="submitExam()">Submit</button>
	        </div>
    	</div>
	</div>
</section>