<article class="row">
        <header class="signUp-Header">
            
        
            
            
            <h3 class="col-md-12 text-center">Sign UP using Linkedin</h3>
            <div class="col-md-12 text-center">
                <!-- <a href="/auth/facebook" class="undecorated-link">
                    <img class="img30_30" src="/modules/users/img/buttons/facebook.png">
                </a>
                <a href="/auth/twitter" class="undecorated-link">
                    <img class="img30_30" src="/modules/users/img/buttons/twitter.png">
                </a>
                <a href="/auth/google" class="undecorated-link">
                    <img class="img30_30" src="/modules/users/img/buttons/google.png">
                </a> -->
                <a href="/auth/linkedin" class="undecorated-link">
                    <img class="img30_30" src="/modules/users/img/buttons/linkedin.png">
                </a>

            </div>
            <p>find the best jobs related to your skillset</p>
      
        </header>   
        <section class="col-md-9">
            <form data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
                <section data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </section>
                <section class="form-group">
                    <div class="col-md-5 text-right">
                        <label for="">First Name:</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="John">
                    </div>
                </section>

                <section class="form-group">
                    <div class="col-md-5 text-right">
                        <label for="">Last Name:</label>
                    </div>
                    <div class="col-md-7">
                        <input required type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Carter">
                    </div>
                </section>

                <section class="form-group">
                    <div class="col-md-5 text-right">
                        <label for="">Email:</label>
                    </div>
                    <div class="col-md-7">
                        <input required type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="xyz@domain.com">
                    </div>
                </section>

                <section class="form-group">
                    <div class="col-md-5 text-right">
                        <label for="">Username:</label>
                    </div>
                    <div class="col-md-7">
                        <input required type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="johncarter">
                    </div>
                </section>

                <section class="form-group">
                    <div class="col-md-5 text-right">
                        <label for="">Password:</label>
                    </div>
                    <div class="col-md-7">
                        <input required type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                    </div>
                </section>

                <section class="form-group">
                    <div class="col-md-5 text-right">
                        <label for="">Confirm Password:</label>
                    </div>
                    <div class="col-md-7">
                        <input required type="password" id="password" name="password" class="form-control"  placeholder="Confirm Password">
                    </div>
                </section>

                
                <section class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary">Sign Up</button>
                </section>
            </form>
        </section>
        <footer>
            
        </footer>
    </article>