<header class="bg-white header header-md navbar navbar-fixed-top-xs box-shadow">
    <div class="navbar-header aside-md dk">
      <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
        <i class="fa fa-bars"></i>
      </a>
      <a href="/" class="navbar-brand">
        <img src="/theme/images/logo.png" class="m-r-sm" alt="scale">
        <span class="hidden-nav-xs">recreal</span>
      </a>
      <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
        <i class="fa fa-cog"></i>
      </a>
    </div>

    <form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-search"></i></button>
          </span>
          <input type="text" class="form-control input-sm no-border" placeholder="Search jobs, companies...">            
        </div>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user">
      <li class="hidden-xs">
        <a href="/#!/signin">Login</a>
      </li>
      <li>
        <a href="/#!/signup">Sumbit CV</a>
      </li>
      <li>
        <button class="btn btn-primary btn-small emp-button-header">Employers</button>
      </li>
    </ul>      
  </header>

<article class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">Sign up for FREE today!</h3>
	<section class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
		<form data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<section data-ng-show="error" class="text-center text-danger">
				<strong data-ng-bind="error"></strong>
			</section>
			<section class="form-group">
                <div class="col-md-5 text-right">
                    <label for="">First Name:</label>
                </div>
                <div class="col-md-7">
                    <input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="John">
                </div>
            </section>

            <section class="form-group">
                <div class="col-md-5 text-right">
                    <label for="">Last Name:</label>
                </div>
                <div class="col-md-7">
                    <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Carter">
                </div>
            </section>

            <section class="form-group">
                <div class="col-md-5 text-right">
                    <label for="">Email:</label>
                </div>
                <div class="col-md-7">
                    <input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="xyz@domain.com">
                </div>
            </section>

            <section class="form-group">
                <div class="col-md-5 text-right">
                    <label for="">Username:</label>
                </div>
                <div class="col-md-7">
                    <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="johncarter">
                </div>
            </section>

            <section class="form-group">
                <div class="col-md-5 text-right">
                    <label for="">Password:</label>
                </div>
                <div class="col-md-7">
                    <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                </div>
            </section>

            <section class="form-group">
                <div class="col-md-5 text-right">
                    <label for="">Confirm Password:</label>
                </div>
                <div class="col-md-7">
                    <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                </div>
            </section>

			<section class="form-group">
                <dl class="dl-horizontal">
                    <dt>I'm here to </dt>
                    <dd>
                        <label class="ui-radio">
                        <input  name="role" 
                                type="radio" 
                                value="employer" 
                                data-ng-model="credentials.userType" >
                                <span>Hire</span>
                        </label>
                        <label class="ui-radio">
                        <input  name="role" 
                                type="radio" 
                                value="candidate" 
                                checked
                                data-ng-model="credentials.userType" >
                                <span>Work</span>
                        </label>
                    </dd>
                </dl>
            </section>
			<section class="text-center form-group">
				<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
				<a href="/#!/signin" class="show-signup">Sign in</a>
			</section>
		</form>
	</section>
	<section>
		<h3 class="col-md-12 text-center">Sign up using your social accounts</h3>
		<div class="col-md-12 text-center">
			<a href="/auth/facebook" class="undecorated-link">
				<img class="img64_64" src="/modules/users/img/buttons/facebook.png">
			</a>
			<a href="/auth/twitter" class="undecorated-link">
				<img class="img64_64"src="/modules/users/img/buttons/twitter.png">
			</a>
			<a href="/auth/google" class="undecorated-link">
				<img class="img64_64" src="/modules/users/img/buttons/google.png">
			</a>
			<a href="/auth/linkedin" class="undecorated-link">
				<img class="img64_64" src="/modules/users/img/buttons/linkedin.png">
			</a>
		</div>
	</section>
</article>