<section data-ng-controller="ThreadsController" data-ng-init="findOneAndMarkAsRead()">
	
	
	<div class="page-header">
		<h1 data-ng-bind="thread.subject"></h1>
	</div>
	
		<div data-ng-repeat="message in thread.messages">
		<section class="row">
			<section class="col-md-1">	
			<img class="img50_50" src="{{message.author.picture_url}}">
			</section>
		<section class="col-md-11">
			<section class="row">
			<section class="col-md-1">
			<div ng-if="showOnline(message)">
				<i class="fa fa-circle" style="color:green"></i>
			</div>
			<div ng-if="showOffline(message)">
				<i class="fa fa-circle" style="color:red"></i>
			</div>
			</section>
			<section class="col-md-8">
			<h5>{{message.author.displayName}}</h5>
			<p>{{message.messageBody}}</p>
			</section>
			<section class="col-md-3">
			<span data-ng-bind="message.created | date:'mediumDate'"></span>
			</section></section></section></section>
		</div>

	<textarea data-ng-model="messageBody" class="form-control">
		
	</textarea>

	<button data-ng-click="sendMessage()" class="btn btn-primary btn-medium">
		Send
	</button>
	
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="thread.messages[thread.messages.length-1].created | date:'mediumDate'"></span>
			by 
  <!--good mudz -->
			<span data-ng-bind="thread.messages[thread.messages.length-1].author.displayName"></span>
		</em>
	</small>
	</section>
</section>