<section data-ng-controller="ThreadsController" data-ng-init="findOneAndMarkAsRead()">
	
	<div>
                <img alt=""class="img180_180" src="{{candidate.picture_url}}">
            </div>
	<div class="page-header">
		<h1 data-ng-bind="thread.subject"></h1>
	</div>

	<div data-ng-repeat="message in thread.messages">
		<img class="img50_50" src="{{message.author.picture_url}}">
		<div ng-if="showOnline(message)">
		<i class="fa fa-suitcase" style="color:green"></i></div>
		<div ng-if="showOffline(message)">
		<i class="fa fa-suitcase" style="color:red"></i></div>
		<h3>{{message.author.displayName}}</h3>
		<p>{{message.messageBody}}</p>
		<span data-ng-bind="message.created | date:'mediumDate'"></span>
	</div>

	<textarea data-ng-model="messageBody" class="form-control">
		
	</textarea>

	<button data-ng-click="sendMessage()" class="btn btn-primary btn-medium">
		Send
	</button>
	
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="thread.messages[thread.messages.length-1].created | date:'mediumDate'"></span>
			by 
  <!--good mudz -->
			<span data-ng-bind="thread.messages[thread.messages.length-1].author.displayName"></span>
		</em>
	</small>
</section>