<section data-ng-controller="CandidateHomeController" class="container">




    <article class="col-md-8">
        
      

        
            
            <section class="row" ng-repeat="job in jobs">
                <div data-ng-hide="hasApplied(job)">
                    <div class="col-md-3" style="height: 150px">    
                        <a class="pull-left" href="#!/jobs/{{job._id}}">
                            <img alt="" src="http://1.bp.blogspot.com/-PDyJ4V86jJc/UegSwGYXY2I/AAAAAAAABjM/adUNk71ddes/s1600/954862_10151698062655336_1754121665_n.jpg" class="img-rounded img150_150">
                        </a>
                    </div>
                    <div class="col-md-9"  style="height: 250px">    
                        <div >
                            <a data-ng-href="#!/jobs/{{job._id}}"><h4>{{job.title}}</h4></a>
                            <a data-ng-href="#!/companies/{{job.company._id}}"><h5>{{job.company.company_name}}</h5></a>                    
                            <p>{{job.description | truncate:250}}</p>
                        </div>
                        <div class="pull-right">    
                            <label>{{job.dueDate | date}}</label>
                            <strong><a class="btn btn-sm btn-success" ng-click="apply(job)">Apply Now</a></strong>
                        </div>
                    </div>
                </div>
                <hr>
            </section>
        
        
    </article>


  
</section>
