<article data-ng-controller="CandidateCvController" class="container">   
    <section class="row">
        <section class="col-md-8" >
        <!-- Profile picture and basic details widget -->
            <section>
                <div class="col-md-4">
                    <img src="{{candidate.picture_url}}" width=110px; alt="Smily face">
                </div>
                <div class="col-md-8">
                    <h2>{{candidate.displayName}}</h3>
                    <h4>{{candidate.title}} at Apple, Inc</h4>
                    <h5>{{candidate.location}} | {{candidate.country}}</h5>
                </div>                      
            </section>

            <section class="row"></section>
        <!-- Carreer Objective -->
            <section>
                <h3>Carrer Objectives<hr></h3>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="">Objective</label>
                    </div>
                    <div class="col-sm-9">
                        <textarea class="form-control" data-ng-model="candidate.objective"></textarea>
                    </div>
                 </div>
            </section>
            <section class="row"></section>

            <!-- Personal profile -->
            <section>
                <h3>Personal Profile<hr></h3>
               <form name="form_constraints" class="form-horizontal form-validation" novalidate>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Job Title</label>
                                </div>
                                <div class="col-sm-9">
                                    <input  type="text" class="form-control" placeholder="Manager IT" data-ng-model="candidate.title">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Gender</label>
                                </div>
                                <div class="col-sm-9">
                                    <label class="ui-radio">
                                    <input  name="role" 
                                            type="radio" 
                                            value="employer" 
                                            data-ng-model="candidate.gender" >
                                            <span>Male</span>
                                    </label>
                                    <label class="ui-radio">
                                    <input  name="role" 
                                            type="radio" 
                                            value="candidate" 
                                            checked
                                            data-ng-model="candidate.gender" >
                                            <span>Female</span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">E-mail</label>
                                </div>
                                <div class="col-sm-9">
                                    <input  type="text" class="form-control" data-ng-model="candidate.job_title">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Contact No</label>
                                </div>
                                <div class="col-sm-9">
                                    <input  type="text" class="form-control" data-ng-model="candidate.contact_no">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Skype ID</label>
                                </div>
                                <div class="col-sm-9">
                                    <input  type="text" class="form-control" data-ng-model="candidate.skype_name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Address</label>
                                </div>
                                <div class="col-sm-9">
                                    <input  type="text" class="form-control" data-ng-model="candidate.address">
                                </div>
                            </div>

                             <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Country</label>
                                </div>
                                <div class="col-sm-9">
                                    <span class="ui-select">
                                        <select ng-model="candidate.country">
                                            <option data-ng-repeat="count in countries">{{count.name}}</option>
                                        </select>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Location</label>
                                </div>
                                <div class="col-sm-9">
                                    <input  type="text" class="form-control" data-ng-model="candidate.location">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Visa Status</label>
                                </div>
                                <div class="col-sm-9">
                                    <span class="ui-select">
                                        <select data-ng-model="candidate.visa_status">
                                            <option>No Visa</option>
                                            <option>Residency Visa (Non-Transferable)</option>
                                            <option>Residency Visa (Transferable)</option>
                                            <option>Student Visa</option>
                                            <option>Transit Visa</option>
                                            <option>Visit Visa</option>
                                        </select>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Driving License Issued From</label>
                                </div>
                                <div class="col-sm-9">
                                    <input  type="text" class="form-control" data-ng-model="candidate.driving_license_issued">
                                </div>
                            </div>
                            
                             <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Profile Picture</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="file" title="Choose File" data-ui-file-upload class="btn-info">
                                </div>
                            </div>
               </form>
            </section>
            <section class="row"></section>

            <!-- Target job profile -->
            <section>
                <h3>Target Job Profile<hr></h3>
                    <form name="form_signin" class="form-horizontal form-validation" data-ng-submit="submitForm()">
                    <fieldset>  
                        <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Target Job Title</label>
                                </div>
                                <div class="col-sm-9">
                                    <input  type="text"
                                    class="form-control"
                                    data-ng-model="candidate.target_job_title">
                                </div>
                            </div>

                             <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Career Level</label>
                                </div>
                                <div class="col-sm-9">
                                    <span class="ui-select">
                                        <select data-ng-model="candidate.career_level">
                                            <option>Student/Internship</option>
                                            <option>Entry Level</option>
                                            <option>Mid Career</option>
                                            <option>Management</option>
                                            <option>Executive (Director)</option>
                                            <option>Senior Executive (CEO)</option>
                                        </select>
                                    </span> 
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Employee Type</label>
                                </div>
                                <div class="col-sm-9">
                                    <span class="ui-select">
                                        <select data-ng-model="candidate.employee_type">
                                            <option>Permanent</option>
                                            <option>Internship</option>
                                            <option>Contractor</option>
                                            <option>Temporary</option>
                                            <option>Internship</option>
                                        </select>
                                    </span>
                                </div>
                            </div>

                             <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Employment Status</label>
                                </div>
                                <div class="col-sm-9">
                                    <span class="ui-select">
                                        <select data-ng-model="candidate.employee_status">
                                            <option>Part Time</option>
                                            <option>Full Time</option>
                                        </select>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Salary Range</label>
                                </div>
                                <div class="col-sm-9">
                                    <span class="ui-select">
                                        <select data-ng-model="candidate.salary_expectation">
                                            <option>10,000 - 15,000</option>
                                            <option>15,000 - 30,000</option>
                                            <option>30,000 - 60,000</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                             <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Availability</label>
                                </div>
                                <div class="col-sm-9">
                                    <span class="ui-select">
                                        <select data-ng-model="candidate.notice_period">
                                            <option>1 month or less</option>
                                            <option>3 month or less</option>
                                            <option>6 month or less</option>
                                            <option>1 year or less</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Industry</label>
                                </div>
                                <div class="col-sm-9" data-ng-repeat="target_industry in candidate.target_industries">
                                    <span class="ui-select">
                                        <select data-ng-model="target_industry.name">
                                            <option data-ng-repeat="ind in industries">{{ind.name}}</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Location</label>
                                </div>
                                <div class="col-sm-9" data-ng-repeat="target_location in candidate.target_locations">
                                    <span class="ui-select">
                                        <select data-ng-model="target_location.name">
                                            <option>Pakistan</option>
                                            <option>Lahore</option>
                                            <option>Pakistan - Karachi</option>
                                            <option>UAE - Dubai</option>
                                            <option>UAE - Sharjah</option>
                                            <option>UAE</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </form>
            </section>
            <section class="row"></section>

            <!-- Skills -->
            <section>
                <h3>Skills</h3>
                <table class="table">
                    <tr>
                        <th>Skill</th>
                        <th>Level</th>
                        <th>Experience (Years)</th>
                        <th>Last Used</th>
                        <th></th>
                    </tr>
                    <tr data-ng-repeat="skill in candidate.skills">
                        <td><input type="text" class="form-control"
                                    required placeholder="e.g Communications" data-ng-model="skill.title"class="input-small"></td>           
                        <td>
                            <span class="ui-select">
                                <select data-ng-model="skill.level"  style="width: 150px;">
                                        <option>Beginner</option>
                                        <option>Intermidiate</option>
                                        <option>Expert</option>
                                </select>
                            </span>
                        </td>
                        <td>
                            <span class="ui-select" >
                                <select data-ng-model="skill.experience" style="width: 50px;">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                </select>
                            </span>
                        </td>
                        <td>
                            <input ui-date
                            ui-date-format
                            class="form-control"
                            required
                            data-ng-model="skill.last_used"
                            >
                        </td>
                        <td>
                            <a href="" ng-click="removeSkill($index)"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button ng-click="addSkill()" class="btn btn-small btn-success pull-right">Add Skill</button></td>
                    </tr>
                </table>
                <h3>
                    <ng-pluralize count="skillMatrix.skills.length" when="pluralizer"></ng-pluralize>
                </h3> 
            </section>
            <section class="row"></section>

            <!-- Education -->
            <section>
                <h3>Education<hr></h3>
                <form name="form_signin" class="form-horizontal form-validation" data-ng-submit="submitForm()">
                        <fieldset ng-repeat="education in candidate.educations">   
                            <div class="form-group">                         
                                <div class="col-sm-3">
                                    <label for="">Degree</label>
                                </div>
                                <div class="col-sm-8">
                                    <span class="ui-select">
                                        <select ng-model="education.degree">
                                            <option>Pre-Matriculation</option>
                                            <option>O-level/Matriculation</option>
                                            <option>Intermediate/A-Level</option>
                                            <option>Bachelor's Degree</option>
                                            <option>Master's Degree</option>
                                            <option>Doctorate</option>
                                            <option>Certificate</option>
                                            <option>Diploma</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="col-sm-1">
                                    <a href="" ng-click="removeEducation($index)"><i class="fa fa-times pull-right"></i></a>
                                </div>  
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Study Field</label>
                                </div>
                                <div class="col-sm-9">
                                    <span class="ui-select">
                                        <select ng-model="education.study_feild">
                                            <option>Electrical Engineering</option>
                                            <option>Computer Engineering</option>
                                            <option>Civil Engineering</option>
                                            <option>MBA</option>
                                            <option>BBA</option>
                                            <option>Physics</option>
                                            <option>Mathematics</option>
                                            <option>Chemistry</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Institute</label>
                                </div>
                                <div class="col-sm-9">
                                    <span class="ui-select">
                                        <select ng-model="education.institute">
                                            <option>Comsats</option>
                                            <option>Air University</option>
                                            <option>NUST</option>
                                            <option>NDU</option>
                                            <option>Bahria University</option>
                                            <option>IIUI</option>
                                            <option>Iqra University</option>
                                            <option>MAJU</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3" style="padding-top: 2%">
                                    <label for="">Start Date</label>
                                </div>
                                <div class="col-sm-4">
                                    <input ui-date ui-date-format class="form-control" ng-model="education.start_date" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3" style="padding-top: 2%">
                                    <label for="">End Date</label>
                                </div>
                                <div class="col-sm-4">
                                    <input ui-date ui-date-format class="form-control" ng-model="education.end_date" />
                                </div>
                            </div>

                             <div class="form-group">
                                <div class="col-sm-3" style="padding-top: 2%">
                                <label for="">Notes</label>
                                </div>
                                 <div class="col-sm-9">
                                    <textarea class="form-control"
                                      rows="10"
                                      required
                                      data-ng-model="education.notes"></textarea>
                                </div>
                            </div>

                        </fieldset>
                        <button ng-click="addEducation()" class="btn btn-small btn-success pull-right">Add Education</button>
                    </form>
            </section>
            <section class="row"></section>

            <!-- Experience -->
            <section>
             <h3>Experience<hr></h3>
                <div>
                    <form name="form_signin" class="form-horizontal form-validation" data-ng-submit="submitForm()">
                        <fieldset ng-repeat="experience in candidate.positions">   
                            <div class="form-group">
                                
                                <div class="col-sm-3">
                                    <label for="">Company Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input  type="text"
                                    class="form-control"
                                    required
                                    data-ng-model="experience.company_name"
                                    >
                                </div>
                                <div class="col-sm-1">
                                    <a ng-click="removeExperience($index)"><i class="fa fa-times pull-right"></i></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Job Title</label>
                                </div>
                                <div class="col-sm-8">
                                    <input  type="text"
                                    class="form-control"
                                    required
                                    data-ng-model="experience.title"
                                    >
                                </div>
                            </div>
                             <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Location</label>
                                </div>
                                <div class="col-sm-9">
                                    <span class="ui-select">
                                        <select data-ng-model="experience.company_location">
                                            <option>Pakistan</option>
                                            <option>Lahore</option>
                                            <option>Pakistan - Karachi</option>
                                            <option>UAE - Dubai</option>
                                            <option>UAE - Sharjah</option>
                                            <option>UAE</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Industry</label>
                                </div>
                                <div class="col-sm-9">
                                    <span class="ui-select">
                                        <select data-ng-model="experience.company_industry">
                                            <option>Accounts</option>
                                            <option>Sales</option>
                                            <option>Business</option>
                                            <option>Marketing</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3" style="padding-top: 2%">
                                    <label for="">Start Date</label>
                                </div>


                                <div class="col-sm-3">
                                    <input ui-date ui-date-format class="form-control" ng-model="experience.start_date" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3" style="padding-top: 2%">
                                    <label for="">End Date</label>
                                </div>
                                <div class="col-sm-3">
                                    <input ui-date ui-date-format class="form-control" ng-model="experience.end_date" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3" style="padding-top: 2%">
                                <label for="">Responsibilities</label>
                                </div>
                                 <div class="col-sm-9">
                                    <textarea class="form-control"
                                      rows="10"
                                      required
                                      data-ng-model="experience.summary"></textarea>
                                </div>
                            </div>
                            
                        </fieldset>
                        <button ng-click="addExperience()" class="btn btn-small btn-success pull-right">Add Experience</button>
                    </form>
                </div>
            </section>
            <section class="row"></section>

            <!-- Project -->
            <section>
                <h3>Projects<hr></h3>
                <form class="form-horizontal form-validation">
                    <fieldset ng-repeat="project in candidate.projects">   
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">Project Name</label>
                            </div>
                            <div class="col-sm-8">
                                <input  type="text"
                                class="form-control"
                                required
                                data-ng-model="project.name"
                                >
                            </div>
                            <div class="col-sm-1">
                                <a ng-click="removeProject($index)"><i class="fa fa-times pull-right"></i></a>
                            </div>
                        </div>
                         <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">Company</label>
                            </div>
                            <div class="col-sm-9">
                                <span class="ui-select">
                                    <select data-ng-model="project.company">
                                        <option>CNS</option>
                                        <option>IBM</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3" style="padding-top: 2%">
                                <label for="">Start Date</label>
                            </div>
                            <div class="col-sm-3">
                                <input ui-date ui-date-format class="form-control" ng-model="project.start_date" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3" style="padding-top: 2%">
                                <label for="">End Date</label>
                            </div>
                            <div class="col-sm-3">
                                <input ui-date ui-date-format class="form-control" ng-model="project.end_date" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3" style="padding-top: 2%">
                            <label for="">Description</label>
                            </div>
                             <div class="col-sm-9">
                                <textarea class="form-control"
                                  rows="5"
                                  required
                                  data-ng-model="project.description"></textarea>
                            </div>
                        </div>
                        
                    </fieldset>
                    <button ng-click="addProject()" class="btn btn-small btn-success pull-right">Add Project</button>
                </form>
            </section>
            <section class="row"></section>

            <!-- Laungages -->
            <section>
                <h3>Languages<hr></h3>
                <table class="table">
                    <tr>
                        <th>Language</th>
                        <th>Proficiency</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="language in candidate.languages">
                        <td><input type="text" class="form-control" placeholder="e.g English" ng-model="language.name"class="input-small"></td>           
                        <td>
                            <span class="ui-select">
                                <select data-ng-model="language.proficiency">
                                        <option>Elementry</option>
                                        <option>Limited Working</option>
                                        <option>Professional Working</option>
                                        <option>Full Professional</option>
                                        <option>Native or Bilingual</option>
                                </select>
                            </span>
                        </td>
                        <td>
                            <a ng-click="removeLanguage($index)"><i class="fa fa-times pull-right"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><button ng-click="addLanguage()" class="btn btn-small btn-success pull-right">Add Language</button></td>
                    </tr>
                </table>
            </section>
            <button type="submit"
            class="btn btn-primary btn-block btn-lg"
            ng-click="update()"
            >Sumbit</button>
        </section>
        <aside class="col-md-4">
            <!-- Thumbnails -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Thumbnails</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="thumbnail">
                                <img alt="" src="/modules/core/img/600_400-2.jpg">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                </div>
                            </div>    
                        </div>
                        <div class="col-sm-12">
                            <div class="thumbnail">
                                <img alt="" src="/modules/core/img/600_400-1.jpg">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                </div>
                            </div> 
                        </div>            
                    </div>
                </div>
            </div>
                <!-- end Thumbnails -->
        </aside>
    </section>
</article>



    <div id="accordion" class="panel-group">

        <div class="panel panel-default">

            <div class="panel-heading">

                <h4 class="panel-title">

                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. What is HTML?</a>

                </h4>

            </div>

            <div id="collapseOne" class="panel-collapse collapse">

                <div class="panel-body">

                    <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>

                </div>

            </div>

        </div>

        <div class="panel panel-default">

            <div class="panel-heading">

                <h4 class="panel-title">

                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. What is Twitter Bootstrap?</a>

                </h4>

            </div>

            <div id="collapseTwo" class="panel-collapse collapse in">

                <div class="panel-body">

                    <p>Twitter Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>

                </div>

            </div>

        </div>

        <div class="panel panel-default">

            <div class="panel-heading">

                <h4 class="panel-title">

                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. What is CSS?</a>

                </h4>

            </div>

            <div id="collapseThree" class="panel-collapse collapse">

                <div class="panel-body">

                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>

                </div>

            </div>

        </div>
    </div>





<style type="text/css">
div.Outer {
    width: 100%;
    position: relative;
    clear: both;
}

div.InnerLeft {
    width: 30%;
    position: relative;      
    float: left;
 }

div.InnerRight {
    width: 60%;
    position: relative;      
    float: right;
}



</style>