<section data-ng-controller="CompaniesController" data-ng-init="findOne()" class="container">
    

	<article class="col-md-8">

        <header class="text-center col-md-12">
            <!-- Contents -->
            <div class="showcase-content">
                <div class="row">
                    <div class="col-md-3" style="height: 100px">
                        <img alt="" class="img100_100" src="http://1.bp.blogspot.com/-PDyJ4V86jJc/UegSwGYXY2I/AAAAAAAABjM/adUNk71ddes/s1600/954862_10151698062655336_1754121665_n.jpg">
                    </div>
                    <h1>{{company.company_name}}</h1>
                </div>
                <div class="title-bullet"><span></span></div>
                <p>Jack Daniel's is a brand of Tennessee whiskey that is the highest selling American whiskey in the world. It is produced in Lynchburg, Tennessee, by the Jack Daniel Distillery, which has been owned by the Brown-Forman Corporation since 1956.</p>
            </div>
        </header>
        <section class="panel-body">
            <form name="form_companyProfile" class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for=""><strong>Industry:</strong></label>
                        </div>
                        <div class="col-sm-9">
                            {{company.industry}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for=""><strong>Founded In:</strong></label>
                        </div>
                        <div class="col-sm-9">
                            {{company.founded|date}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for=""><strong>Company Type:</strong></label>
                        </div>
                        <div class="col-sm-9">
                            {{company.company_type}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for=""><strong>Company Size:</strong></label>
                        </div>
                        <div class="col-sm-9">
                            {{company.company_size}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for=""><strong>Contact Person:</strong></label>
                        </div>
                        <div class="col-sm-9">
                            {{company.contact_person}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for=""><strong>Contact Number:</strong></label>
                        </div>
                        <div class="col-sm-9">
                            {{company.contact_no}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for=""><strong>Contact Email:</strong></label>
                        </div>
                        <div class="col-sm-9">
                            {{company.contact_email}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for=""><strong>Address:</strong></label>
                        </div>
                        <div class="col-sm-9">
                            {{company.address}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for=""><strong>Specialties:</strong></label>
                        </div>
                        <div class="col-sm-9">
                            <span data-ng-repeat= "speciality in company.specialties">{{speciality.name}}, </span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </section>
	</article>

    <aside class="col-md-4">
        <header> <h2>Title</h2></header>
        <section class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </section>
    </aside>

	<div class="pull-right" data-ng-show="authentication.user._id == company.user._id">
		<a class="btn btn-primary" href="/#!/companies/{{company._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>

<style>
.super-awesome {
        display: block;
        color: #fff;
        font-size: 5em;
         text-shadow: 1px 1px #D5D5D5;
         color: #f2f2f2
}
.signin-header {
        padding: 8px 0;    
        background-color: #898989;
}
.header-page
{
    color: #464545; 
    text-shadow: 1px 1px -2px #D5D5D5; 
    font-size:30px; 
    padding-top:10px;
}
</style>