<section data-ng-controller="CompaniesController" data-ng-init="findOne()">
	<div class="col-md-6">
		<div class="panel panel-profile">
                <div class="panel-heading text-center">
                    <img alt="" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQdqDzj720ok-dvraQzi0ovTJo9UAuCOWn3nESHdbHpUCKthC-kRl-X-Q">
                </div>
                <div class="list-justified-container">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="size-h3">{{company.company_name}}</p>
                            <p class="text-muted">Founded In: {{company.founded|date}}</p>
                        </li>
                    </ul>
                </div>
        </div>

		<div class="panel panel-info">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Company Profile</strong></div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <label>Industry:</label>
                                    {{company.industry}}
                                </li>
                                <li>
                                    <label>Company Type:</label>
                                    {{company.company_type}}
                                </li>
                                <li>
                                    <label>Company Size:</label>
                                    {{company.company_size}}
                                </li>
                                <li>
                                    <label>Contact Person:</label>
                                    {{company.contact_person}}
                                </li>
                                <li>
                                    <label>Contact Number:</label>
                                    {{company.contact_no}}
                                </li>
                                <li>
                                    <label>Person Email:</label>
                                    {{company.contact_email}}
                                </li>
                                <li>
                                    <label>Address:</label>
                                    {{company.address}}
                                </li>
                                <li>
                                    <label>Website:</label>
                                    {{company.website}}
                                </li>
                                <li >
                                    <label>Specialties:</label>
                                    <span data-ng-repeat= "speciality in company.specialties">{{speciality.name}}, </span>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
        </div>
	</div>



	<div class="pull-right" data-ng-show="authentication.user._id == company.user._id">
		<a class="btn btn-primary" href="/#!/companies/{{company._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>