<!-- <section data-ng-controller="EmployerProfileController">
	This is the Employer profile view
</section> -->

<section data-ng-controller="EmployerProfileController" data-ng-init="findOne()">
    <div class="signin-header container row " style="background-color: #333; padding: 8px 0; margin-top: -10px; margin-bottom: 10px;">
        <div class="col-md-3">
                <span  ><i class="fa fa-user super-awesome"></i></span>
        </div>
        <div class="text-center col-md-6">
            <section class="logo" style="padding-top: 10px;">
                <span style="color: #fff; text-shadow: 1px 1px -2px #D5D5D5; font-size:30px; padding-top:10px">Edit Your Profile</span>
            </section>
        </div>
    </div>
    <div class="col-md-6" >
        <div class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Employer Profile</strong></div>
            <div class="panel-body">
                <form name="form_employeer_profile" data-ng-submit="update()" class="form-horizontal" >
                    <fieldset>
                         <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">Job Title</label>
                            </div>
                            <div class="col-sm-9">
                                <input  type="text"
                                        class="form-control"
                                        data-ng-model="employer.title">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">Division</label>
                            </div>
                            <div class="col-sm-9">
                                <span class="ui-select">
                                    <select data-ng-model="employer.division">
                                        <option>Accounts</option>
                                        <option>Sales</option>
                                        <option>Business</option>
                                        <option>Marketing</option>
                                    </select>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">Department</label>
                            </div>
                            <div class="col-sm-9">
                                <span class="ui-select">
                                    <select data-ng-model="employer.department">
                                        <option>Admin</option>
                                        <option>Software</option>
                                        <option>HR</option>
                                        <option>Finance</option>
                                    </select>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">Office No</label>
                            </div>
                            <div class="col-sm-9">
                                <input  type="text"
                                        class="form-control"
                                        data-ng-model="employer.office_no">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">Personal No</label>
                            </div>
                            <div class="col-sm-9">
                                <input  type="text"
                                        class="form-control"
                                        data-ng-model="employer.personal_no">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">E-mail</label>
                            </div>
                            <div class="col-sm-9">
                                <input  type="text"
                                        class="form-control"
                                        data-ng-model="employer.contact_email">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">Skype ID</label>
                            </div>
                            <div class="col-sm-9">
                                <input  type="text"
                                        class="form-control"
                                        data-ng-model="employer.skype_id">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">Country</label>
                            </div>
                            <div class="col-sm-9">
                                <span class="ui-select">
                                        <select ng-model="country">
                                            <option data-ng-repeat="count in countries">{{count.name}}</option>
                                        </select>
                                    </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">Location</label>
                            </div>
                            <div class="col-sm-9">
                                <input  type="text"
                                        class="form-control"
                                        data-ng-model="employer.location">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">Picture</label>
                            </div>
                            <div class="col-sm-9">
                                <input  type="text"
                                        class="form-control"
                                        data-ng-model="employer.picture_url">
                            </div>
                        </div>

                        <button type="submit"
                            class="btn btn-sucess btn-block btn-lg"
                            ng-click="update()"
                            >Sumbit</button>                            
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
                </form>
                         
            </div>
        </div>
    </div>
 </section>  

 <style>
.super-awesome {
        display: block;
        color: #fff;
        font-size: 5em;
         text-shadow: 1px 1px #D5D5D5;
         color: #f2f2f2
}
.signin-header {
        padding: 8px 0;    
        background-color: #898989;
}
</style>