<!-- <section data-ng-controller="EmployerProfileController">
	This is the Employer profile view
</section> -->

<section data-ng-controller="EmployerProfileController" data-ng-init="findOne()" class="container">
    <header class="text-center col-md-8">
            <h1>Employer Profile</h1>
    </header>
    <article class="col-md-6" >
        <form name="form_employer_profile" data-ng-submit="update()" class="form-horizontal" >
            <fieldset>
                 <section class="form-group">
                    <div class="col-sm-3">
                        <label for="">Job Title</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                                class="form-control"
                                data-ng-model="employer.title">
                    </div>
                </section><br>

                <section class="form-group">
                    <div class="col-sm-3">
                        <label for="">Division</label>
                    </div>
                    <div class="col-sm-9">
                        <span class="ui-select" >
                            <select data-ng-model="employer.division" class="form-control">
                                <option>Accounts</option>
                                <option>Sales</option>
                                <option>Business</option>
                                <option>Marketing</option>
                            </select>
                        </span>
                    </div>
                </section><br>

                <section class="form-group">
                    <div class="col-sm-3">
                        <label for="">Department</label>
                    </div>
                    <div class="col-sm-9">
                        <span class="ui-select">
                            <select data-ng-model="employer.department" class="form-control">
                                <option>Admin</option>
                                <option>Software</option>
                                <option>HR</option>
                                <option>Finance</option>
                            </select>
                        </span>
                    </div>
                </section><br>

                <section class="form-group">
                    <div class="col-sm-3">
                        <label for="">Office No</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                                class="form-control"
                                data-ng-model="employer.office_no">
                    </div>
                </section><br>

                <section class="form-group">
                    <div class="col-sm-3">
                        <label for="">Personal No</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                                class="form-control"
                                data-ng-model="employer.personal_no">
                    </div>
                </section>

                <section class="form-group">
                    <div class="col-sm-3">
                        <label for="">E-mail</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                                class="form-control"
                                data-ng-model="employer.contact_email">
                    </div>
                </section><br>

                <section class="form-group">
                    <div class="col-sm-3">
                        <label for="">Skype ID</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                                class="form-control"
                                data-ng-model="employer.skype_id">
                    </div>
                </section><br>

                <section class="form-group">
                    <div class="col-sm-3">
                        <label for="">Country</label>
                    </div>
                    <div class="col-sm-9">
                        <span class="ui-select">
                                <select ng-model="employer.country" class="form-control">
                                    <option data-ng-repeat="count in countries">{{count.name}}</option>
                                </select>
                            </span>
                    </div>
                </section><br>

                <section class="form-group">
                    <div class="col-sm-3">
                        <label for="">Location</label>
                    </div>
                    <div class="col-sm-9">
                        <input  type="text"
                                class="form-control"
                                data-ng-model="employer.location">
                    </div>
                </section><br>

                <section class="form-group">
                    <div class="col-sm-3">
                        <label for="">Picture</label>
                    </div>

                    <div class="col-md-3 text-center">
                    <a href="" class="pull-right" ng-click="openPictureModal()" ><i class="fa fa-edit"></i></a>
                    <img alt=""class="img180_180" src="{{employer.picture_url}}">
                    </div>
                </section><br>

                <button type="submit"
                    class="btn btn-primary btn-block btn-lg"
                    ng-click="update()"
                    >Submit</button>                            
                <section data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </section><br>
            </fieldset>
        </form>
    </article>
 </section>  

 <style>
.super-awesome {
        display: block;
        color: #fff;
        font-size: 5em;
         text-shadow: 1px 1px #D5D5D5;
         color: #f2f2f2
}
.signin-header {
        padding: 8px 0;    
        background-color: #898989;
}
</style>