<section data-ng-controller="CandidateWizardOneController" data-ng-init="LoadInitialData()">
	<section class="row">
    	<section class="container custom-wrapper">
     		<section class="hbox">
        		<!-- .aside -->
       			<aside class="bg-light lt b-r b-light aside-md hidden-print" id="nav">          
         			<section class="vbox">
            			<section class="w-f scrollable">
              				<div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">              
                			<!-- nav -->                 
			                <nav class="nav-primary hidden-xs">
			                  <ul class="nav nav-main left-aside-top-margin" data-ride="collapse">
			                    <li  class="active">
			                      <a href="index.html" class="auto">
			                        <i class="i i-statistics icon">
			                        </i>
			                        <span class="font-bold">Profile</span>
			                      </a>
			                    </li>
			                    <li  class="active">
			                      <a href="index.html" class="auto">
			                        <i class="i i-statistics icon">
			                        </i>
			                        <span class="font-bold">Location</span>
			                      </a>
			                    </li>
			                    <li  class="active">
			                      <a href="index.html" class="auto">
			                        <i class="i i-statistics icon">
			                        </i>
			                        <span class="font-bold">Post Job - Job Details</span>
			                      </a>
			                    </li>
			                    <li  class="active">
			                      <a href="index.html" class="auto">
			                        <i class="i i-statistics icon">
			                        </i>
			                        <span class="font-bold">Post Job - Job Requirement</span>
			                      </a>
			                    </li>
			                  </ul>
			                </nav>
			                <!-- / nav -->
			                </div>
            			</section>
          			</section>
        		</aside>
        		<form data-ng-submit="SaveAndRedirect()" id="content" class="scrollable padder">
	                <article>
	                    <header>
	                      <h3>Account Information</h3><hr class="hr-margin15" />
	                      <p class="header-message">A few additional details about you will help your employers to know you</p>
	                    </header>
                		<section class="row section-left-margin">
	                		<section class="col-md-3">
		                        <a href="" class="pull-right" ng-click="openCandidatePictureModal()" ><i class="fa fa-edit"></i></a>
		                        <img alt=""class="img-circle m-b" src="{{user.picture_url}}" width="140px" height="140px">
	                        </section>
							<section class="col-md-4">
								<div class="form-group">
									<label>First Name</label>
									<input type="text" class="form-control" data-ng-model="user.firstName" placeholder="John">
								</div>
								<div class="form-group">
									<label for="">Job Title</label>
									<input  type="text" class="form-control" placeholder="Manager IT" data-ng-model="candidate.title">
								</div>
							</section>
                      		<section class="col-md-4">
		                        <div class="form-group">
		                          	<label>Last Name</label>
		                          	<input type="text" class="form-control" data-ng-model="user.lastName" placeholder="Enter email">
		                        </div>
		                        <div class="form-group">
									<label>Email Address</label>
									<input type="email" class="form-control" data-ng-model="user.email"  placeholder="Carter">
								</div>
                        	</section>
                    	</section>
                    	<section class="row section-left-margin">
                      		<div class="row form-group">
		                        <div class="col-md-3">
		                            <label for="" class="pull-right">Career Objective</label>
		                        </div>
	                        	<div class="col-md-8">
	                            	<textarea class="form-control" required data-ng-model="candidate.objective" rows="3" cols="5" />
	                        	</div>
                      		</div>
                    	</section>
                    	<section class="row section-left-margin">
                    		<section class="col-md-3">
                    			
                    		</section>
                    		<section class="col-md-4">
								
								<div class="form-group">
									<label>Email Address</label>
									<input type="email" class="form-control" data-ng-model="user.email"  placeholder="Carter">
								</div>
							</section>
                      		<section class="col-md-4">
		                        <div class="form-group">
		                          	<label for="">Gender</label>
		                          	<span class="ui-select">
			                            <select data-ng-model="candidate.gender" class="form-control">
			                            	<option>Male</option>
			                            	<option>Female</option>
			                            	<option>Not mentioned</option>
			                            </select>
			                        </span>
		                        </div>
                        	</section>
                    	</section>
	                    <footer class="footer-button-div">
	                      <section class="col-md-2 pull-right">
	                        <button type="submit" class="btn btn-primary btn-block btn-lg">Next</button>  
	                      </section>
	                    </footer>
                  	</article>                       
		            <section data-ng-show="error" class="text-danger"><strong data-ng-bind="error"></strong>
		            </section>
          			<a href="#!" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
       			 </form>
       		</section>
       	</section> 
    </section>
</section>