<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">
	{% endfor %}
	<link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" href="/lib/jquery-ui/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="/modules/core/css/core.css">
	

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="ng-cloak" id="app" data-off-canvas-nav>
<!-- 	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header> -->


	<!-- <header data-ng-include="'/modules/core/views/header.client.view.html'" id="header" class="top-header"></header> -->


		<aside data-ng-controller="HeaderController" data-ng-include=" '/modules/core/views/nav.client.view.html' " id="nav-container" ></aside>

	

	<section class="content">
		<section class="container">
			{% block content %}{% endblock %}
		</section>
	</section>

	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>


	<script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/lib/jquery-slimscroll/jquery.slimscroll.js"></script>
	<script type="text/javascript" src="/lib/jquery-ui/jquery-ui.js"></script>
	<!--Application JavaScript Files-->
	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
	{% endfor %} 
	<script type="text/javascript" src="/lib/angular-ui-date/src/date.js"></script>

	<script type="text/javascript" src="/lib/ng-file-upload/angular-file-upload-shim.js"></script>
	<script type="text/javascript" src="/lib/ng-file-upload/angular-file-upload-html5-shim.js"></script>
	<script type="text/javascript" src="/lib/ng-file-upload/angular-file-upload.js"></script>

	<!-- textangular rich text editor -->
	<script src='/lib/textAngular/dist/textAngular-sanitize.min.js'></script>
	<script src='/lib/textAngular/dist/textAngular.min.js'></script>

	{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>

	{% endif %}
</body>

</html>