<section data-ng-controller="CompanyOpenJobsController" class="container">
    <header class="text-center">
            <h1>{{company.company_name}}</h1>
    </header>

<article class="col-md-3">
    <section>
        <article class="col-md-6">
            <label for="searchBox">Search Job:</label>
        </article>
        <article class="col-md-6">
            <input id="searchBox" class="col-md-8 form-control" type="text" data-ng-model="searchText" />
        </article><Br>
        <Br>
    </section> 
    <section>
           <a href="/#!/company-open-jobs"{{ orderBy_closedate | orderBy : job.due_date : true}}><h5>Order By Closed Date</h5></a> 
            <hr>
    </section>
     <section>
        <a href="/#!/company-open-jobs"{{ orderBy_maximumCandidate | orderBy : job.candidates.length : true}}><h5>Order By Maximum Candidates</h5></a> <hr>
    </section>
    <section>
         <a href="/#!/company-open-jobs"{{ orderBy_maximumShortlisted | orderBy : job.shortListedCandidates.length : true}} ><h5>Order By Maximum Shortlisted</h5></a><hr>
    </section>
     <section>
         <h5>Job Posted By</h5>
          {{employer.displayName.toUpperCase()}},({{employer.jobs.length}})
         <hr>
    </section>
   </article>




    <article class="col-md-9">
    	<section ng-repeat="job in jobs ">
        	<a href="#!/jobs/{{job._id}}" ><h2>{{job.title}}</h2></a> 
        	<span class="pull-right"> Close Date: {{job.due_date | date}}</span>
        	<p><h4>{{job.location}} , {{job.country}}</h4></p>
        	<p><span><strong>Description:</strong>
                <div ng-bind-html="job.description | truncate:270"></div>
             </span></p> 
             <p><span class="pull-left"> Posted By: {{employer.displayName.toUpperCase()}}</span></p>
            <div class="pull-right">
              
                     
                        <a href="/#!/employer-job-candidates/{{job._id}}" class="btn btn-small btn-success">Candidates ({{job.candidates.length}})</a>
                   
                         <a href="/#!/shortlisted-candidates/{{job._id}}" class="btn btn-small btn-success">Shortlisted ({{job.shortListedCandidates.length}})</a>
                   
                         <span class="ui-select" >Options
                                <select data-ng-model="job._id" style="width: 100px;">
                                        <option>Close Job</option>
                                        <option>Cancel Job</option>
                                        <option>Removed Job</option>
                                </select>
                            </span>                                          
             </div>
            <br>
            <hr>
    	</section>
    </article>

</section>