<section data-ng-controller="CompanyOpenJobsController" class="container">
    <header class="text-center">
            <h1>{{company.company_name}}</h1>
    </header>

<aside class="col-md-3">
    <section>
        <article class="col-sm-4">
            <label for="searchBox">Search:</label>
        </article>
        <article class="col-sm-8">
            <input id="searchBox" class="col-sm-12 form-control" type="text" style="width: 170px" data-ng-model="searchText" />
        </article><Br>
        <Br><hr>
    </section> 
    <section>
           <article class="col-sm-4">
                 <label for="">Sort By:</label>
            </article>
            <article class="col-sm-8">
                        <div>
                            <span class="ui-select">
                                <select style="width: 170px">
                                    <option>Close Date Dsc</option>
                                    <option>Close Date Asc</option>
                                    <option>Maximum Candidates</option>
                                    <option>Maximum ShortListed</option>
                                    <option>Minimum Candidates</option>
                                    <option>Minimum Shortlisted</option>
                                </select>
                            </span>
                        </div>
            </article><Br><Br><hr>
    </section>
   
     <section>
        <article class="col-sm-12">
          <label for="">Posted By:</label><Br>
        <span style="color:gray; font-style: italic">   {{employer.displayName.toUpperCase()}} - ({{employer.jobs.length}})</span>
         <hr>
         </article>
    </section>
   </aside>




    <article class="col-md-9">
    	<section ng-repeat="job in jobs |filter:searchText">
        	<a href="#!/jobs/{{job._id}}" ><h2>{{job.title}}</h2></a> 
        	<span class="pull-right" style="color:gray; font-style: italic"> Close Date: {{job.due_date | date}}</span>
        	<p><h4>{{job.location}} , {{job.country}}</h4></p>
        	<p><span><!-- <strong>Description:</strong> -->
                <div ng-bind-html="job.description | truncate:270"></div>
             </span></p> 
             <p><span class="pull-left" style="color:gray; font-style: italic"> Posted By: {{employer.displayName.toUpperCase()}}</span></p>
            <div class="pull-right">
              
                     <section class="col-md-4">
                        <a href="/#!/employer-job-candidates/{{job._id}}" class="btn btn-small btn-success">Candidates ({{job.candidates.length}})</a>
                    </section>
                     <section class="col-md-4">
                         <a href="/#!/shortlisted-candidates/{{job._id}}" class="btn btn-small btn-success">Shortlisted ({{job.shortListedCandidates.length}})</a>
                    </section>
                    <section class="col-md-2">
                         <div class="dropdown">
                          <button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1"  data-toggle="dropdown">
                           <span class="glyphicon glyphicon-plus"></span>
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Close Job</a></li>
                            <li><a href="#">Cancle Job</a></li>
                            <li><a href="#">Remove Job</a></li>
                          </ul>
                        </div>
                       </section>                                         
             </div>
            <br>
            <hr>
    	</section>
    </article>

</section>