<section data-ng-controller="EmpJobPostTwoController">
	 <section class="row">
    <section class="container custom-wrapper">
      <section class="hbox">
        <!-- .aside -->
        <aside class="bg-light lt b-r b-light aside-md hidden-print" id="nav">          
          <section class="vbox">
            <section class="w-f scrollable">
              <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">
                <div class="clearfix wrapper dk nav-user hidden-xs">
                  
                </div>                


                <!-- nav -->                 
                <nav class="nav-primary hidden-xs">
                  <ul class="nav nav-main" data-ride="collapse">
                    <li class="nav-search">
                        <span>
                          <input id="searchBox" class="form-control" type="text" data-ng-model="searchText" placeholder="Search Jobs, Candidates" />
                        </span>
                    </li>
                    <li  class="active">
                      <a href="index.html" class="auto">
                        <i class="i i-statistics icon">
                        </i>
                        <span class="font-bold">Overview</span>
                      </a>
                    </li>
                    <li >
                      <a href="" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <b class="badge bg-danger pull-right">4</b>
                        <i class="i i-stack icon">
                        </i>
                        <span class="font-bold">Active Jobs</span>
                      </a>
                    </li>
                    <li >
                      <a href="" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <b class="badge bg-danger pull-right">1</b>
                        <i class="i i-stack icon">
                        </i>
                        <span class="font-bold">Draft Jobs</span>
                      </a>
                      
                    </li>
                    <li >
                      <a href="" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <b class="badge bg-danger pull-right">32</b>
                        <i class="i i-stack icon">
                        </i>
                        <span class="font-bold">Expired Jobs</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- / nav -->
              </div>
            </section>
          </section>
        </aside>
        <!-- /.aside -->

        <section id="content" class="scrollable padder">
            <article>
                <header class="article-header-wizard">
                    <div><h3>2) New Job - Requirements</h3><hr/></div>
                    <span>Your job description has automatically been populated. You can change it on the next page if you have your own job description, but make sure to fill in the skills portion of this page!</span>
                </header>
                <h4>Education</h4>
                <section class="article-section-wizard">
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="">Degree</label>
                        </div>
                        <div class="col-md-4">
                            <span>
                                <select ng-model="degree_title" required class="form-control">
                                    <option>Pre-Matriculation</option>
                                    <option>O-level/Matriculation</option>
                                    <option>Intermediate/A-Level</option>
                                    <option>Bachelor's Degree</option>
                                    <option>Master's Degree</option>
                                    <option>Doctorate</option>
                                    <option>Certificate</option>
                                    <option>Diploma</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="">Study Field</label>
                        </div>
                        <div class="col-md-4">
                            <span>
                                <select ng-model="study_field" required class="form-control">
                                    <option data-ng-repeat="studyfeild in studyFields">{{studyfeild.name}}</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label for="">Certificates</label>
                        </div>
                        <div class="col-md-9">
                            <span data-ng-repeat="certificate in certificates">
                                <input  type="text" class="form-control" style="width:200px;" data-ng-model="certificate.name">
                                <a ng-click="removeCertificate($index)">
                                    <i class="fa fa-times pull-right"></i>
                                </a>
                            </span>
                            <a class= "btn btn-default btn-xs" data-ng-click="addCertificate()">Add more</a>
                        </div>
                    </div>
                </section>
                <h4>Experience</h4>
                <section class="article-section-wizard">
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="">Career Level 
                                <span class="required-css">*</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <span>
                                <select ng-model="job.career_level" required class="form-control" style="width: 300px;">
                                    <option>Student/Internship</option>
                                    <option>Entry Level</option>
                                    <option>Mid Career</option>
                                    <option>Management</option>
                                    <option>Executive (Director)</option>
                                    <option>Senior Executive (CEO)</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="">Experience</label>
                        </div>
                        <div class="col-md-3">
                            <input  type="number" class="form-control" style="width:200px;"data-ng-model="job.experience">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="">Qulification 
                                <span class="required-css">*</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <input  type="text"class="form-control" required data-ng-model="title">
                            <input  type="text"class="form-control" required data-ng-model="title">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="">Responsibilities 
                                <span class="required-css">*</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <input  type="text"class="form-control" required data-ng-model="title">
                            <input  type="text"class="form-control" required data-ng-model="title">
                        </div>
                    </div>
                </section>
                <h4>Skills</h4>         
                <section class="article-section-wizard">
                    <table class="table">
                        <tr>
                            <td>
                                <label for="">Skill 
                                    <span class="required-css">*</span>
                                </label>
                            </td>
                            <td>
                                <label for="">Level</label>
                            </td>
                            <td></td>
                        </tr>
                        <tr data-ng-repeat="skill in skills">
                            <td>
                                <input type="text" placeholder="e.g Communication" ng-model="skill.title"class="form-control">
                                </td>
                                <td>
                                    <span class="ui-select">
                                        <select data-ng-model="skill.level"  style="width: 150px;">
                                            <option selected="selected">Beginner</option>
                                            <option>Intermediate</option>
                                            <option>Expert</option>
                                        </select>
                                    </span>
                                </td>
                                <td>
                                    <a ng-click="removeSkill($index)">
                                        <i class="fa fa-times pull-right"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a data-ng-click="addSkill()" class="btn btn-small btn-primary">Add Skill</a>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                </section>
                <footer class="col-md-10 article-footer-wizard">
                    <section class="pull-right"><button type="submit" class="btn btn-primary btn-block btn-lg" ng-click="SaveAndRedirect()">Next</button><br></section>
                </footer>
            </article>
        </section>
      </section>
    </section>
  </section>
</section>