<section data-ng-controller="EmpJobPostTwoController" data-ng-init="findOne()">
	 <section class="row">
    <section class="container custom-wrapper">
      <section class="hbox">
        <!-- .aside -->
        <aside class="bg-light lt b-r b-light aside-md hidden-print" id="nav">          
          <section class="vbox">
            <section class="w-f scrollable">
              <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">
                <div class="clearfix wrapper dk nav-user hidden-xs">
                  
                </div>                


                <!-- nav -->                 
                <nav class="nav-primary hidden-xs">
                  <ul class="nav nav-main" data-ride="collapse">
                    <li class="nav-search">
                        <span>
                          <input id="searchBox" class="form-control" type="text" data-ng-model="searchText" placeholder="Search Jobs, Candidates" />
                        </span>
                    </li>
                    <li  class="active">
                      <a href="index.html" class="auto">
                        <i class="i i-statistics icon">
                        </i>
                        <span class="font-bold">Overview</span>
                      </a>
                    </li>
                    <li >
                      <a href="" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <b class="badge bg-danger pull-right">4</b>
                        <i class="i i-stack icon">
                        </i>
                        <span class="font-bold">Active Jobs</span>
                      </a>
                    </li>
                    <li >
                      <a href="" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <b class="badge bg-danger pull-right">1</b>
                        <i class="i i-stack icon">
                        </i>
                        <span class="font-bold">Draft Jobs</span>
                      </a>
                      
                    </li>
                    <li >
                      <a href="" class="auto">
                        <span class="pull-right text-muted">
                          <i class="i i-circle-sm-o text"></i>
                          <i class="i i-circle-sm text-active"></i>
                        </span>
                        <b class="badge bg-danger pull-right">32</b>
                        <i class="i i-stack icon">
                        </i>
                        <span class="font-bold">Expired Jobs</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- / nav -->
              </div>
            </section>
          </section>
        </aside>
        <!-- /.aside -->

        <section id="content" class="scrollable padder">
            <article>
                <header class="article-header-wizard">
                    <div><h3>2) New Job - Requirements</h3><hr/></div>
                    <span>Your job description has automatically been populated. You can change it on the next page if you have your own job description, but make sure to fill in the skills portion of this page!</span>
                </header>
                <section class="article-section-wizard">
                	<div class="row form-group">
                        <div class="col-md-2">
                            <label for="">Responsibilities</label>
                        </div>
                        <div class="col-md-8">
                            <section class="listThingy" class="row" ng-repeat="responsibility in job.responsibilities">
                            	<div class="input-group">
	                                <input type="text" placeholder="e.g Software" data-ng-model="responsibility.name" class="form-control">
	                                <span class="input-group-btn">
	                                <button type="button" ng-click="removeResponsibility($index)" class="btn btn-default"><i class="fa fa-times"></i></button>
	                                </span>
                                </div>
                            </section>
                            <div class="addThingy" data-ng-submit="addResponsibility()" ng-show="isAddingResponsibility">
                                <input type="text" placeholder="Add a Responsibility" data-ng-model="newResponsibility.name" class="form-control">
                                <button class="btn btn-default btn-sm" ng-click="addResponsibility()">Add</button>
                                <a href="" ng-click="isAddingResponsibility = false">Done Adding</a>
                            </div>
                            <p><a href="" ng-click="isAddingResponsibility = true">+ Add Responsibility</a></p>
                        </div>
                    </div>
                </section>
                <section class="article-section-wizard">
                  	<div class="row form-group">
	                    <div class="col-md-2">
	                        <label for="">Education</label>
	                    </div>
	                    <div class="col-md-10">
		                    <section class="listThingy" class="row" ng-repeat="education in job.educations">
		                        <div class="col-md-4 group-block1">
		                            <select data-ng-model="education.degree_title"required class="form-control" >
                                        <option ng-repeat="degree in degree_titles">{{degree}}</option>
                                  </select>
		                        </div>
		                        <div class="col-md-4 group-block2">
		                            <input type="text" placeholder="Majors" data-ng-model="education.study_feild" class="form-control">
		                        </div>
		                        <div class="input-group col-md-4 group-block3">
		                            <select data-ng-model="education.priority"required class="form-control" >
                                        <option ng-repeat="priority in priorities">{{priority}}</option>
                                    </select>
		                            <span class="input-group-btn">
		                                <button type="button" ng-click="removeResponsibility($index)" class="btn btn-default"><i class="fa fa-times"></i></button>
		                            </span>
		                        </div>
		                    </section>
	                      	<section class="addThingy" data-ng-submit="addEducation()" ng-show="isAddingEducation">
		                        <div class="row">
			                        <div class="col-md-4">
			                            <select data-ng-model="newEducation.degree_title"required class="form-control" >
                                            <option ng-repeat="degree in degree_titles">{{degree}}</option>
                                        </select>
			                        </div>
			                        <div class="col-md-4">
			                            <input type="text" placeholder="Add an Education" data-ng-model="newEducation.study_feild" class="form-control">
			                        </div>
			                        <div class="col-md-4">
			                            <select data-ng-model="newEducation.priority"required class="form-control" >
                                            <option ng-repeat="priority in priorities">{{priority}}</option>
                                        </select>
			                        </div>
		                        </div>
	                            <button class="btn btn-default btn-sm" ng-click="addEducation()">Add</button>
                                <a href="" ng-click="isAddingEducation = false">Done Adding</a>
	                      	</section>
	                      	<p><a href="" ng-click="isAddingEducation = true">+ Add Education</a></p>
	                    </div>
                  	</div>
	                  <!-- <div class="row form-group">
	                    <div class="col-md-2">
	                        <label for="">Experience</label>
	                    </div>
	                    <div class="col-md-3">
	                        <input  type="number" class="form-control" style="width:200px;"data-ng-model="job.experience">
	                    </div>
	                  </div> -->
	                  <!-- <div class="row form-group">
	                      <div class="col-md-2">
	                          <label for="">Educations</label>
	                      </div>
	                      <div class="col-md-6">
	                        <section class="listThingy" class="row" ng-repeat="education in job.educations">
	                          <div class="input-group">
	                              <select data-ng-model="education.degree_title"required class="form-control" >
	                                  <option ng-repeat="degree in degree_titles">{{degree}}</option>
	                              </select>
	                              <span class="input-group-btn">
	                              <button type="button" ng-click="removeEducation($index)" class="btn btn-default"><i class="fa fa-times"></i></button>
	                            </span>
	                          </div>
	                          <div>
	                              <input type="text" placeholder="Majors" data-ng-model="education.study_feild" class="form-control">
	                              <select data-ng-model="education.priority"required class="form-control" >
	                                  <option ng-repeat="priority in priorities">{{priority}}</option>
	                              </select>
	                          </div>
	                        </section>
	                        <div class="addThingy" data-ng-submit="addEducation" ng-show="isAddingEducation">
	                              <select data-ng-model="newEducation.degree_title"required class="form-control" >
	                                  <option ng-repeat="degree in degree_titles">{{degree}}</option>
	                              </select>
	                              <input type="text" placeholder="Add an Education" data-ng-model="newEducation.study_feild" class="form-control">
	                              <select data-ng-model="newEducation.priority"required class="form-control" >
	                                  <option ng-repeat="priority in priorities">{{priority}}</option>
	                              </select>
	                              <button class="btn btn-default btn-sm" ng-click="addEducation()">Add</button>
	                              <a href="" ng-click="isAddingEducation = false">Done Adding</a>
	                        </div>
	                        <p><a href="" ng-click="isAddingEducation = true">+ Add Education</a></p>
	                      </div>
	                  </div> -->
	                  <!-- <div class="row form-group">
	                      <div class="col-md-3">
	                          <label for="">Certificates</label>
	                      </div>
	                      <div class="col-md-9">
	                          <span data-ng-repeat="certificate in certificates">
	                              <input  type="text" class="form-control" style="width:200px;" data-ng-model="certificate.name">
	                              <a ng-click="removeCertificate($index)">
	                                  <i class="fa fa-times pull-right"></i>
	                              </a>
	                          </span>
	                          <a class= "btn btn-default btn-xs" data-ng-click="addCertificate()">Add more</a>
	                      </div>
	                  </div> -->
                </section>
                <h4>Experience</h4>
                <section class="article-section-wizard">
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="">Career Level 
                                <span class="required-css">*</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <span>
                                <select ng-model="job.career_level" required class="form-control" style="width: 300px;">
                                    <option>Student/Internship</option>
                                    <option>Entry Level</option>
                                    <option>Mid Career</option>
                                    <option>Management</option>
                                    <option>Executive (Director)</option>
                                    <option>Senior Executive (CEO)</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="">Experience</label>
                        </div>
                        <div class="col-md-3">
                            <input  type="number" class="form-control" style="width:200px;"data-ng-model="job.experience">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="">Qualifications</label>
                        </div>
                        <div class="col-md-10">
                            <section class="listThingy" class="row" ng-repeat="qualification in job.qualifications">
                                <div class="col-md-8 group-block1">
                                    <input type="text" placeholder="e.g Software" data-ng-model="qualification.name" class="form-control">
                                </div>
                                <div class="input-group col-md-4 group-block3">
                                    <select data-ng-model="qualification.priority"required class="form-control" >
                                        <option ng-repeat="priority in priorities">{{priority}}</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="removeQualification($index)" class="btn btn-default"><i class="fa fa-times"></i></button>
                                    </span>
                                </div>
                            </section>
                            <div class="addThingy" data-ng-submit="addQualification" ng-show="isAddingQualification">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" placeholder="Add a Qualification" data-ng-model="newQualification.name" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <select data-ng-model="newQualification.priority"required class="form-control" >
                                            <option ng-repeat="priority in priorities">{{priority}}</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="btn btn-default btn-sm" ng-click="addQualification()">Add</button>
                                <a href="" ng-click="isAddingQualification = false">Done Adding</a>
                            </div>
                            <p><a href="" ng-click="isAddingQualification = true">+ Add Qualification</a></p>
                        </div>
                    </div>

                </section>        
                <section class="article-section-wizard">
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="">Skills</label>
                        </div>
                        <div class="col-md-8">
                            <section class="listThingy" class="row" ng-repeat="skill in job.skills">
                                <div class="col-md-8 group-block1">
                                    <input type="text" placeholder="e.g Software" data-ng-model="skill.title" class="form-control">
                                </div>
                                <div class="input-group col-md-4 group-block3">
                                    <select data-ng-model="skill.priority"required class="form-control" >
                                        <option ng-repeat="priority in priorities">{{priority}}</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="removeSkill($index)" class="btn btn-default"><i class="fa fa-times"></i></button>
                                    </span>
                                </div>
                            </section>
                            <div class="addThingy" data-ng-submit="addSkill" ng-show="isAddingSkill">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" placeholder="Add a Skill" data-ng-model="newSkill.title" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <select data-ng-model="newSkill.priority"required class="form-control" >
                                            <option ng-repeat="priority in priorities">{{priority}}</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="btn btn-default btn-sm" ng-click="addSkill()">Add</button>
                                <a href="" ng-click="isAddingSkill = false">Done Adding</a>
                            </div>
                            <p><a href="" ng-click="isAddingSkill = true">+ Add Skill</a></p>
                        </div>
                    </div>
                </section>
                <footer class="col-md-10 article-footer-wizard">
                    <section class="pull-right">
                        <button class="btn btn-primary btn-block btn-lg" ng-click="GoBack()">Back</button>
                        <button type="submit" class="btn btn-primary btn-block btn-lg" ng-click="SaveAndRedirect()">Post</button><br>
                    </section>
                </footer>
            </article>
        </section>
      </section>
    </section>
  </section>
</section>