<!-- <section data-ng-controller="EmployerJobCandidatesController">
	<h2>{{job.title}}</h2>
	<div data-ng-repeat="candidate in candidates">
		<h3>{{candidate.displayName}}</h3>
	</div>
</section>
 -->
<section data-ng-controller="EmployerJobCandidatesController">
	<div class="signin-header container row " style="background-color: #333; padding: 8px 0; margin-top: -10px; margin-bottom: 10px;">
        <div class="col-md-3">
                <span ><i class="fa fa-user super-awesome" ></i></span>
        </div>
        <div class="text-center col-md-8">
            <section class="logo" style="padding-top:10px">
                <span style="color: #fff; text-shadow: 1px 1px -2px #D5D5D5; font-size:20px; ">List of Candidates applied for Post of {{job.title}}</span>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 pull-right panel" style="padding: 10px">
            <div class="col-md-4">
                <label class="col-md-3" for="searchBox">Search</label>
            </div>
            <div class="col-md-8">
                <input id="searchBox" class="col-md-8 form-control" type="text" data-ng-model="searchText" />
            </div>
        </div>
    </div>
        

        <div class="col-md-3">
            <!-- Filters -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Filters</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="thumbnail">
                                <label>Locations</label>
                                <ul>
                                    <li data-ng-repeat="locationFilter in locationFilters">
                                    <input type="checkbox" value="checkedCategory" data-ng-model="checkedCategory['{{locationFilter.name}}']" id="checkedCategory{{locationFilter.name}}" />
                                    <label for="checkedCategory{{locationFilter.name}}" >{{locationFilter.name}} ({{locationFilter.count}})</label>
                                        
                                    </li>
                                </ul>
                            </div>    
                        </div>
                        

                                  
                    </div>
                </div>
            </div>
                <!-- end Filters -->
        </div>

            

    	<div class="col-md-9">

            
            
            <div class="panel panel-default">
                <div class="panel-body" data-ng-repeat="candidate in candidates | filter:searchText">
                    <div class="col-md-3" style="padding-top:20px;">
                        <img height=150px; width:150px; src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/4/000/143/348/2800c86.jpg">
                    </div>
                    <div class="col-md-9">
                        <a data-ng-href="#!/candidates/{{candidate._id}}"><h2 style="color:#00afef;">{{candidate.displayName}}</h2></a>
                        <h4>{{candidate.title}}</h4>
                        <p style="color:rgb(83, 82, 82)">{{candidate.summary}}</p>
                        <div style="line-height: 2">
                            <span  class="skill-div" data-ng-repeat="skill in candidate.skills">{{skill.title}}</span>
                        </div>
                            
                        <h6 style="padding-top:15px">Rating : 5  &nbsp;&nbsp;|&nbsp;&nbsp;  Location : {{candidate.location}}  &nbsp;&nbsp;|&nbsp;&nbsp;  Salary Range : {{candidate.salary_expectation}}  &nbsp;&nbsp;|&nbsp;&nbsp;  1 Test</h6>
                        <hr>
                    </div>
                    
                </div>
            </div>
        </div>

</section>
<!-- style="margin: 5px; padding:5px;background-color:#DBDBDB" -->
<style>
.super-awesome {
        display: block;
        color: #fff;
        font-size: 5em;
         text-shadow: 1px 1px #D5D5D5;
         color: #f2f2f2
}
.signin-header {
        padding: 8px 0;    
        background-color: #898989;
}
.skill-div
{
background-color: #f2f2f2;
color: #7c7c7a;
padding: 4px 12px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
margin: 4px;
font-size: 11px;
line-height: 0;

}
</style>