<article data-ng-controller="PostJobController" data-ng-init="bootupmapaccordingtogeolocation()" class="container">
    <h1 class="text-center">Post Job</h1>
    <div class="tabbable col-md-8" >
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#pane1" ng-click="isTabMap = false;" data-toggle="tab">Job Description</a>
            </li>
            <li>
                <a href="#pane2" ng-click="isTabMap = false;" data-toggle="tab">Job Details</a>
            </li>
            <li>
                <a href="#pane3" ng-click="isTabMap = false;" data-toggle="tab">Education & Experience</a>
            </li>
            <li>
                <a href="#pane4" ng-click="isTabMap = true;" data-toggle="tab">Location</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="pane1" class="tab-pane active">
                <section class="form-horizontal form-validation">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label for="">Job Title 
                                <span class="required-css">*</span>
                            </label>
                        </div>
                        <div class="col-md-9">
                            <input  type="text"class="form-control" required data-ng-model="title">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="">Description 
                                    <span class="required-css">*</span>
                                </label>
                            </div>
                            <div class="col-md-9">
                                <textarea class="form-control"
                             required
                            data-ng-model="description" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="">Requirements 
                                    <span class="required-css">*</span>
                                </label>
                            </div>
                            <div class="col-md-9">
                                <div >
                                    <text-angular 
                                 required
                                 ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight']]"
                                data-ng-model="requirements"></text-angular>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <h3> Required Skills</h3>
                        <table class="table">
                            <tr>
                                <td>
                                    <label for="">Skill 
                                        <span class="required-css">*</span>
                                    </label>
                                </td>
                                <td>
                                    <label for="">Level</label>
                                </td>
                                <td></td>
                            </tr>
                            <tr data-ng-repeat="skill in skills">
                                <td>
                                    <input type="text" placeholder="e.g Communication" ng-model="skill.title"class="form-control">
                                    </td>
                                    <td>
                                        <span class="ui-select">
                                            <select data-ng-model="skill.level"  style="width: 150px;">
                                                <option selected="selected">Beginner</option>
                                                <option>Intermediate</option>
                                                <option>Expert</option>
                                            </select>
                                        </span>
                                    </td>
                                    <td>
                                        <a ng-click="removeSkill($index)">
                                            <i class="fa fa-times pull-right"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a data-ng-click="addSkill()" class="btn btn-small btn-primary">Add Skill</a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </section>
                    </div>
                    <div id="pane2" class="tab-pane">
                        <div name="form_signin" class="form-horizontal form-validation">
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-md-3" style="padding-top: 2%">
                                        <label for="">Due Date 
                                            <span class="required-css">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="date" class="form-control" required data-ng-model="due_date" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="">Industry 
                                            <span class="required-css">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-9">
                                        <span class="ui-select">
                                            <select required data-ng-model="industry">
                                                <option data-ng-repeat="ind in industries">{{ind.name}}
                                            </option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="">Department 
                                            <span class="required-css">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-9">
                                        <span class="ui-select">
                                            <select data-ng-model="department">
                                                <option selected="selected">Administration</option>
                                                <option>Accounts</option>
                                                <option>Budget</option>
                                                <option>Distribution</option>
                                                <option>Engineering</option>
                                                <option>Finance</option>
                                                <option>Human Resource</option>
                                                <option>Marketing</option>
                                                <option>Planning</option>
                                                <option>Production</option>
                                                <option>Sales</option>
                                                <option>Security</option>
                                                <option>Supply Chain</option>
                                                <option>Technical</option>
                                                <option>Transportation</option>
                                                <option>Warehouse</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="">Gender</label>
                                    </div>
                                    <div class="col-md-9">
                                        <span class="ui-select">
                                            <select data-ng-model="gender">
                                                <option value="No preference" selected>No prference</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="">Work Permit</label>
                                    </div>
                                    <div class="col-md-9">
                                        <span class="ui-select">
                                            <select data-ng-model="work_permit">
                                                <option data-ng-repeat="count in countries">{{count.name}}
                                            </option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="">Job Type</label>
                                    </div>
                                    <div class="col-md-9">
                                        <span class="ui-select">
                                            <select data-ng-model="employee_type">
                                                <option>Contract</option>
                                                <option>Daily Wages</option>
                                                <option>Internship</option>
                                                <option>Permanent</option>
                                                <option>Temporary</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="">Salary/Month</label>
                                    </div>
                                    <div class="col-md-9">
                                        <span class="ui-select">
                                            <select data-ng-model="salary_range">
                                                <option>Less than $1000</option>
                                                <option>$1000 - $2000</option>
                                                <option>$2000 - $3000</option>
                                                <option>$3000 - $4000</option>
                                                <option>$4000 - $5000</option>
                                                <option>$5000 - $6000</option>
                                                <option>$6000 - $8000</option>
                                                <option>$8000 - $10000</option>
                                                <option>$10000 - $15000</option>
                                                <option>$15000 - $20000</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="">Shift</label>
                                    </div>
                                    <div class="col-md-9">
                                        <span class="ui-select">
                                            <select ng-model="shift">
                                                <option>Morning</option>
                                                <option>Evening</option>
                                                <option>Night</option>
                                                <option>Rotation</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="">No Of Positions</label>
                                    </div>
                                    <div class="col-md-9">
                                        <span class="ui-select">
                                            <select ng-model="no_of_positions">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="">Country 
                                            <span class="required-css">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-9">
                                        <span class="ui-select">
                                            <select ng-model="country" required>
                                                <option data-ng-repeat="count in countries">{{count.name}}
                                            </option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="">Location 
                                            <span class="required-css">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-9">
                                        <span class="ui-select">
                                            <select ng-model="location" required>
                                                <option>Islamabad</option>
                                                <option>Lahore</option>
                                                <option>Multan</option>
                                                <option>Karachi</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="required_checkbox">Travelling required</label>
                                    </div>
                                    <div class="col-md-9">
                                        <span class="ui-select">
                                            <select ng-model="travel_required">
                                                <option>No Travelling</option>
                                                <option>25% or less</option>
                                                <option>50% or less </option>
                                                <option>75% or less</option>
                                                <option>more than 75%</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div id="pane3" class="tab-pane">
                        <div name="form_signin" class="form-horizontal form-validation">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="">Degree 
                                        <span class="required-css">*</span>
                                    </label>
                                </div>
                                <div class="col-md-9">
                                    <span class="ui-select">
                                        <select ng-model="degree_title" required>
                                            <option>Pre-Matriculation</option>
                                            <option>O-level/Matriculation</option>
                                            <option>Intermediate/A-Level</option>
                                            <option>Bachelor's Degree</option>
                                            <option>Master's Degree</option>
                                            <option>Doctorate</option>
                                            <option>Certificate</option>
                                            <option>Diploma</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="">Study Field 
                                        <span class="required-css">*</span>
                                    </label>
                                </div>
                                <div class="col-md-9">
                                    <span class="ui-select">
                                        <select ng-model="study_field" required>
                                            <option data-ng-repeat="studyfeild in studyFields">{{studyfeild.name}}</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="">Career Level 
                                        <span class="required-css">*</span>
                                    </label>
                                </div>
                                <div class="col-md-9">
                                    <span class="ui-select">
                                        <select ng-model="career_level" required>
                                            <option>Student/Internship</option>
                                            <option>Entry Level</option>
                                            <option>Mid Career</option>
                                            <option>Management</option>
                                            <option>Executive (Director)</option>
                                            <option>Senior Executive (CEO)</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="">Minimum Experience 
                                        <span class="required-css">*</span>
                                    </label>
                                </div>
                                <div class="col-md-9">
                                    <input  type="number"
                                                class="form-control" style="width:200px;"
                                                data-ng-model="experience">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="">Certificates</label>
                                    </div>
                                    <div class="col-md-9">
                                        <span data-ng-repeat="certificate in certificates">
                                            <input  type="text" class="form-control"
                                     style="width:200px;"
                                    data-ng-model="certificate.name"
                                    >
                                                <a ng-click="removeCertificate($index)">
                                                    <i class="fa fa-times pull-right"></i>
                                                </a>
                                            </span>
                                            <a class= "btn btn-default btn-xs" data-ng-click="addCertificate()">Add more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="pane4" class="tab-pane">
                                
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.tabbable -->
                    <div ng-hide="!isTabMap">
                       <map zoom="11" center="[{{lat}},{{longi}}]">
                            <marker position="[{{lat}},{{longi}}]"
                            draggable="true" />
                            <control name="overviewMap" opened="false" />
                        </map>
                    </div>
                     
            <section>
            <section data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </section>
            <section class="job-submit text-center col-md-8">
                <button data-ng-click="create()"
                class="btn btn-success btn-lg btn-block"
                >Post Job</button>
        </section>
    <br>
    <br>
    </section>
</article>