<section data-ng-controller="PostJobController">
    <article>
        <header class="text-center col-md-6">
                <span class="header-page">Post Job</span>
        </header>
    </article>
    <form ng-submit="create()">
        <section class="row">
    		<div data-ng-show="error" class="text-danger">
    			<strong data-ng-bind="error"></strong>
    		</div>

            <article class="col-md-6" >
                <div class="panel panel-default">
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Job Description</strong></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="">Job Title <span class="required-css">*</span></label>
                            <input  type="text"
                                    class="form-control"
                                    required
                                    data-ng-model="title"
                            >
                            <br>
                            <label for="">Description <span class="required-css">*</span></label>
                            <div style="border: 1px solid #eee; background-color: #eee">
                                <text-angular 
                                      required
                                      data-ng-model="description"></text-angular>
                            </div>
                            <br>
                            <label for="">Requirements <span class="required-css">*</span></label>
                            <div style="border: 1px solid #eee; background-color: #eee">    
                                <text-angular 
                                      required
                                      data-ng-model="requirements"></text-angular>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Required Skills</strong>
                    </div>
                    <div class="panel-body" >
                            <table class="table">
                                <tr>
                                    <th>Skill <span class="required-css">*</span></th>
                                    <th>Level</th>
                                </tr>
                                <tr data-ng-repeat="skill in skills">
                                    <td><input type="text" ng-model="skill.title"class="input-small"></td>           
                                    <td>
                                        <span class="ui-select">
                                            <select data-ng-model="skill.level"  style="width: 150px;">
                                                    <option selected="selected">Beginner</option>
                                                    <option>Intermidiate</option>
                                                    <option>Expert</option>
                                            </select>
                                        </span>
                                    </td>
                                    <td>
                                        <a ng-click="removeSkill($index)"><i class="fa fa-times pull-right"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a data-ng-click="addSkill()" class="btn btn-small btn-primary">Add Skill</a></td>
                                    <td></td>
                                </tr>
                            </table>
                        <!--  -->
                        <div class="form-group">
                            <label for="">Tags</label>
                            <input name="tagsinput" id="tagsinput" class="tagsinput" value="Flat,Design,Lab,Clean" />
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Basic Info</strong></div>
                    <div class="panel-body">
                        <div name="form_signin" class="form-horizontal form-validation">
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-sm-3" style="padding-top: 2%">
                                        <label for="">Due Date <span class="required-css">*</span></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="date" required data-ng-model="due_date" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="">Industry <span class="required-css">*</span></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <span class="ui-select">
                                            <select required data-ng-model="industry">
                                                <option data-ng-repeat="ind in industries">{{ind.name}}</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="">Department <span class="required-css">*</span></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <span class="ui-select">
                                            <select data-ng-model="department">
                                                <option selected="selected">Administration</option>
                                                <option>Accounts</option>
                                                <option>Budget</option>
                                                <option>Distribution</option>
                                                <option>Engineering</option>
                                                <option>Finance</option>
                                                <option>Human Resource</option>
                                                <option>Marketing</option>
                                                <option>Planning</option>
                                                <option>Production</option>
                                                <option>Sales</option>
                                                <option>Security</option>
                                                <option>Supply Chain</option>
                                                <option>Technical</option>
                                                <option>Transportation</option>
                                                <option>Warehouse</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="">Gender</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <span class="ui-select">
                                            <select data-ng-model="gender">
                                                <option value="No preference" selected>No prference</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>                                          
                                            </select>
                                            
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="">Work Permit</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <span class="ui-select">
                                            <select data-ng-model="work_permit">
                                                <option data-ng-repeat="count in countries">{{count.name}}</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="">Job Type</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <span class="ui-select">
                                            <select data-ng-model="employee_type">
                                                <option>Contract</option>
                                                <option>Daily Wages</option>
                                                <option>Internship</option>
                                                <option>Permanent</option>
                                                <option>Temporary</option>                                            
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="">Salary/Month</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <span class="ui-select">
                                            <select data-ng-model="salary_range">
                                                <option>Less than $1000</option>
                                                <option>$1000 - $2000</option>
                                                <option>$2000 - $3000</option>
                                                <option>$3000 - $4000</option>
                                                <option>$4000 - $5000</option>
                                                <option>$5000 - $6000</option>
                                                <option>$6000 - $8000</option>
                                                <option>$8000 - $10000</option>
                                                <option>$10000 - $15000</option>
                                                <option>$15000 - $20000</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="">Shift</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <span class="ui-select">
                                            <select ng-model="shift">
                                                <option>Morning</option>
                                                <option>Evening</option>
                                                <option>Night</option>
                                                <option>Rotation</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="">No Of Positions</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <span class="ui-select">
                                            <select ng-model="no_of_positions">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="">Country <span class="required-css">*</span></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <span class="ui-select">
                                            <select ng-model="country" required>
                                                <option data-ng-repeat="count in countries">{{count.name}}</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="">Location <span class="required-css">*</span></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <span class="ui-select">
                                            <select ng-model="location" required>
                                                <option>Islamabad</option>
                                                <option>Lahore</option>
                                                <option>Multan</option>
                                                <option>Karachi</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="required_checkbox">Travelling required</label>
                                    </div>
                                    <div class="col-sm-9">
                                            <span class="ui-select">
                                                <select ng-model="travel_required">
                                                    <option>No Travelling</option>
                                                    <option>25% or less</option>
                                                    <option>50% or less </option>
                                                    <option>75% or less</option>
                                                    <option>more than 75%</option>
                                                </select>
                                        </span>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Education and Experience</strong></div>
                    <div class="panel-body" >
                        <div name="form_signin" class="form-horizontal form-validation">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Degree <span class="required-css">*</span></label>
                                </div>
                                <div class="col-sm-9">
                                    <span class="ui-select">
                                        <select ng-model="degree_title" required>
                                            <option>Pre-Matriculation</option>
                                            <option>O-level/Matriculation</option>
                                            <option>Intermediate/A-Level</option>
                                            <option>Bachelor's Degree</option>
                                            <option>Master's Degree</option>
                                            <option>Doctorate</option>
                                            <option>Certificate</option>
                                            <option>Diploma</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Study Field <span class="required-css">*</span></label>
                                </div>
                                <div class="col-sm-9">
                                    <span class="ui-select">
                                        <select ng-model="study_field" required>
                                            <option data-ng-repeat="studyfeild in studyFields">{{studyfeild.name}}</option>
                                        </select>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="">Career Level <span class="required-css">*</span></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <span class="ui-select">
                                            <select ng-model="career_level" required>
                                                <option>Student/Internship</option>
                                                <option>Entry Level</option>
                                                <option>Mid Career</option>
                                                <option>Management</option>
                                                <option>Executive (Director)</option>
                                                <option>Senior Executive (CEO)</option>
                                            </select>
                                        </span>
                                    </div>
                            </div>
                            
                              <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="">Minimum Experience <span class="required-css">*</span> </label>
                                    </div>
                                    <div class="col-sm-9">
                                                <input  type="number"
                                                    class="form-control" style="width:200px;"
                                                    data-ng-model="experience">
                                    </div>
                            </div>

                            <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="">Certificates</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <span data-ng-repeat="certificate in certificates"><input  type="text"
                                         style="width:200px;"
                                        data-ng-model="certificate.name"
                                        ><a ng-click="removeCertificate($index)"><i class="fa fa-times pull-right"></i></a>
                                        </span><a class= "btn btn-default btn-xs" data-ng-click="addCertificate()">Add more</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <div class="row text-center">
                <button type="submit"
                    class="btn btn-success btn-lg"
                    >Post Job</button>
                <button
                    class="btn btn-primary btn-lg"
                    >Save Job</button>
        </div>
    </form>
</section>
<style>
.super-awesome {
        display: block;
        color: #fff;
        font-size: 5em;
         text-shadow: 1px 1px #D5D5D5;
         color: #f2f2f2
}
.signin-header {
        padding: 8px 0;    
        background-color: #898989;
}
.required-css
{
    color: red;
}
</style>