<article style="padding: 10px;">

    <header>
        <h1 ng-show="certificate._id">Edit Certificate</h1>
        <h1 ng-hide="certificate._id">Add Certificate</h1>
    </header>
    
    <form ng-submit="ok('save')">
    	<section class="form-group">
        	<label for="title">Certificate Name</label>
            <input required id="name" type="text" placeholder="e.g CCNA" data-ng-model="certificate.name" class="form-control" style="width: 250px";>
 		</section>

        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-danger" ng-click="ok('delete')" ng-show="certificate._id">Delete</button>
        <button class="btn btn-success" ng-click="cancel()">Cancel</button>

   </form>
</article>