<article style="padding: 10px;">
    <header>
        <h1 ng-show="education._id">Edit Education</h1>
        <h1 ng-hide="education._id">Add Education</h1>
    </header>
    
    <form ng-submit="ok('save')" >
        <section class="form-group">
            <div><label for="">Degree</label></div>
            <div><span class="ui-select" >
                <select data-ng-model="education.degree" class="form-control" style="width: 250px;">
                    <option>Pre-Matriculation</option>
                    <option>O-level/Matriculation</option>
                    <option>Intermediate/A-Level</option>
                    <option>Bachelor's Degree</option>
                    <option>Master's Degree</option>
                    <option>Doctorate</option>
                    <option>Certificate</option>
                    <option>Diploma</option>
                </select>
            </span></div>
        </section>

        <section class="form-group">
            <div><label for="">Study Feild</label></div>
            <div><span class="ui-select">
                <select data-ng-model="education.study_feild" class="form-control" style="width: 250px";>
                    <option>Electrical Engineering</option>
                    <option>Computer Engineering</option>
                    <option>Civil Engineering</option>
                    <option>MBA</option>
                    <option>BBA</option>
                    <option>Physics</option>
                    <option>Mathematics</option>
                    <option>Chemistry</option>
                </select>
            </span></div>
        </section>

        <section class="form-group">
            <div><label for="">Institute Name</label></div>
            <div><span class="ui-select">
                <select data-ng-model="education.institute" class="form-control" style="width: 250px";>
                    <option>Comsats</option>
                    <option>Air University</option>
                    <option>NUST</option>
                    <option>NDU</option>
                    <option>Bahria University</option>
                    <option>IIUI</option>
                    <option>Iqra University</option>
                    <option>MAJU</option>
                </select>
            </span></div>
        </section>

        <section class="form-group">
            <label for="">Start Date</label>
            <input ui-date ui-date-format class="form-group" ng-model="education.start_date" />
        

        <span class="form-group">
            <label for="">End Date</label>
            <input ui-date ui-date-format class="form-group" ng-model="education.end_date" />
        </span></section>

        <section class="form-group">
            <label for="">Notes</label>
            <textarea class="form-control"
                              rows="3"
                              required
                              data-ng-model="education.notes"></textarea>
        </section>

        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-danger" ng-click="ok('delete')" ng-show="education._id">Delete</button>
        <button class="btn btn-success" ng-click="cancel()">Cancel</button>

   </form>
</article>