<article style="padding: 10px;">
    <header>
        <h1 ng-show="position._id">Edit position</h1>
        <h1 ng-hide="position._id">Add position</h1>
    </header>
    
    <form ng-submit="ok('save')">
        <section class="form-group">
            <div><label for="title">Company Name</label></div>
            <div><input required id="company_name" type="text" placeholder="e.g Telenor" data-ng-model="position.company_name" class="form-control" style="width: 400px"; /></div>
        </section>

        

        <section class="form-group">
            <label for="">Job Title</label>
            <input  type="text"
                    class="form-control"
                    required
                    data-ng-model="position.title" style="width: 400px"; />
        </section>


            
        <section class="form-group">
            <div><label for="">Location</label></div>
                <div><span class="ui-select">
                                <select data-ng-model="position.company_location" class="form-control" style="width: 250px;">
                                    <option>Pakistan</option>
                                    <option>Lahore</option>
                                    <option>Pakistan - Karachi</option>
                                    <option>UAE - Dubai</option>
                                    <option>UAE - Sharjah</option>
                                    <option>UAE</option>
                                </select>
                            </span></div>
        </section>

        <section class="form-group">
            <div><label for="">Industry</label></div>
            <div><span class="ui-select">
                                <select data-ng-model="position.company_industry" class="form-control" style="width: 250px;">
                                    <option>Accounts</option>
                                    <option>Sales</option>
                                    <option>Business</option>
                                    <option>Marketing</option>
                                </select>
                            </span></div>
        </section>

        <section class="form-group">
            <label for="">Start Date</label>
            <input ui-date ui-date-format ng-model="position.start_date" style="width: 125px";/>
        

            <span>
            <label for="">End Date</label>
            <input ui-date ui-date-format ng-model="position.end_date" style="width: 125px"; />
            </span>
        </section>


        <section class="form-group">
            <label for="">Responsibilities</label>
            <textarea class="form-control"
                      rows="3"
                      required
                      data-ng-model="position.summary"></textarea>
        </section>


        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-danger" ng-click="ok('delete')" ng-show="position._id">Delete</button>
        <button class="btn btn-success" ng-click="cancel()">Cancel</button>



    </form>
</article>