<article style="padding: 10px;">
    <header>
        <h1 ng-show="language._id">Edit Language</h1>
        <h1 ng-hide="language._id">Add Language</h1>
    </header>
    
    <form ng-submit="ok('save')">
    	 <section class="form-group">
                    	<label for="title">Language Name</label>
                    	<input required id="name" type="text" placeholder="e.g Arabic" data-ng-model="language.name" class="form-control" style="width: 250px";>
        </section>

			<section class="form-group">
	                    <label for="">Location</label>
                        <span class="ui-select">
                            <select data-ng-model="language.proficiency" class="form-control" style="width: 250px";>
                                <option>Elementry</option>
                                <option>Limited Working</option>
                                <option>Professional Working</option>
                                <option>Full Professional</option>
                                <option>Native or Bilingual</option>
                            </select>
                        </span>
	        </section>

        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-danger" ng-click="ok('delete')" ng-show="language._id">Delete</button>
        <button class="btn btn-success" ng-click="cancel()">Cancel</button>

   </form>
</article>