<div style="padding: 10px;">


    <h1 ng-show="language._id">Edit Language</h1>
    <h1 ng-hide="language._id">Add Language</h1>
    <form ng-submit="ok('save')">
    	 <table>

    	 	<tr>

                    <div class="col-sm-3">
                    	<label for="title">Language Name</label>
                    </div>
                    <div class="col-sm-8">
                    	<input required id="name" type="text" placeholder="e.g Arabic" data-ng-model="language.name" class="form-control">
             		</div>
             </tr>

			<tr>
	                <div class="col-sm-3">
	                    <label for="">Proficiency</label>
	                </div>
	                <div class="col-sm-8">
                        <span class="ui-select">
                            <select data-ng-model="language.proficiency">
                                <option>Elementry</option>
                                <option>Limited Working</option>
                                <option>Professional Working</option>
                                <option>Full Professional</option>
                                <option>Native or Bilingual</option>
                            </select>
                        </span>
	                </div>
            </tr>

    	 <table>

        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-danger" ng-click="ok('delete')" ng-show="language._id">Delete</button>
        <button class="btn btn-success" ng-click="cancel()">Cancel</button>

   </form>
</div>