<article style="padding: 10px;">
    <header>
        <h1 ng-show="project._id">Edit project</h1>
        <h1 ng-hide="project._id">Add project</h1>
    </header>
    
    <form ng-submit="ok('save')">

        <section class="form-group"> 
            <label for="">Project Name</label>
                <input  type="text"
                        class="form-control"
                        required
                        data-ng-model="project.name" style="width: 400px";
                        >
            </section>



        <section class="form-group">
            <label for="">Company</label>
            <span class="ui-select">
                    <select data-ng-model="project.company" class="form-control" style="width: 250px";>
                        <option>CNS</option>
                        <option>IBM</option>
                    </select>
            </span>
            </section>


        <section class="form-group">
            <label for="">Start Date</label>
            <input ui-date ui-date-format ng-model="project.start_date" class="form-control" style="width: 250px" />
        

            <span class="form-group">
                    <label for="">End Date</label>
                    <input ui-date ui-date-format ng-model="project.end_date" class="form-control" style="width: 250px"/>
            </span>    
        </section>

        <section class="form-group">
                <label for="">Description</label>
                <textarea class="form-control"
                          rows="5"
                          required
                          data-ng-model="project.description"></textarea><br>
        </section>


        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-danger" ng-click="ok('delete')" ng-show="project._id">Delete</button>
        <button class="btn btn-success" ng-click="cancel()">Cancel</button>



    </form>
</article>