<article style="padding: 20px;">
	<header>
		<h1 ng-show="skill._id">Edit Skill</h1>
		<h1 ng-hide="skill._id">New Skill</h1>
	</header>
		

	<form ng-submit="ok('save')">	

		<section class="form-group">
			<div><label for="title">Title</label></div>
			<div><input required id="title" type="text" placeholder="e.g Communications" data-ng-model="skill.title"class="form-control" style="width: 250px;" /></div>
		</section>

		<section class="form-group">
			<div><label for="level">Level</label></div>
			<div><span id="level" class="ui-select">
		            <select required data-ng-model="skill.level" class="form-control" style="width: 150px;">
		                    <option>Beginner</option>
		                    <option>Intermediate</option>
		                    <option>Expert</option>
		            </select>
		        </span></div>
		</section>

		<section class="form-group">
			<div><label for="xp">Experience in years</label></div>
			<div><span id="xp" class="ui-select" >
		            <select required data-ng-model="skill.experience" class="form-control" style="width: 150px;">
		                    <option>1</option>
		                    <option>2</option>
		                    <option>3</option>
		                    <option>4</option>
		                    <option>5</option>
		                    <option>6</option>
		                    <option>7</option>
		                    <option>8</option>
		                    <option>9</option>
		                    <option>10</option>
		            </select>
		        </span></div>
		</section>

		<section class="form-group">
			<div><label for="lastUsed">Last used on</label></div>
			
			<div><input ui-date ui-date-format class="form-control" ng-model="skill.last_used" style="width: 250px;" ></div>
		         

		</section>

		
				<button class="btn btn-primary" type="submit">Save</button>
				<button class="btn btn-danger" ng-click="ok('delete')" ng-show="skill._id">Delete</button>
				<button class="btn btn-success" ng-click="cancel()">Cancel</button>
			
		
		
	</form>
</article>